<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
        * { 
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Outfit';
            font-weight: 400;
            letter-spacing: -0.47px;
        }
        ::-webkit-scrollbar {
            display: none;
        }
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            height: 100vh;

            background: #1d1d1d;
        }
        .phone {
            height: 98vh;
            width: 45vh;
            background: #fff;
            border-radius: 56px;
            overflow: auto;
            padding-top: 6vh;
            padding-left: 3.5vh;
            padding-right: 3.5vh;
            z-index: 0;
            position: relative;

            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>

</body>
</html>