<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming Events</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <style>
        .navbar {
            width: 38vh;
            height: 10vh;
            flex-shrink: 0;

            border-radius: 88px;
            background: #FFF;
            box-shadow: 0px 0px 30.8px 0px rgba(0, 0, 0, 0.25);

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            align-self: center;
            position: fixed;
            bottom: 5vh;
        }
        .navbar > svg {
            width: 3vh;
            aspect-ratio: inherit;
            cursor: pointer;
        }

        .up-time {
            width: 100%;
            position: absolute;
            top: -1vh;
            margin-left: -3.5vh;
        }

        .down-bar {
            width: 100%;
            position: absolute; 
            bottom: 0;
            margin-left: -3.5vh;
            display: none;
        }
        .back {
            position: absolute;
            top: 7vh;
            left: 5vh;
            z-index: 1000;
        }
        .name {
            color: rgba(0, 0, 0, 0.60);
            font-family: Outfit;
            font-size: 0.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.8px;
        }
        p {
            color: rgba(0, 0, 0, 0.60);
            font-family: Outfit;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        h1 {
            margin-bottom: 2vh;
            margin-top: 6vh;
        }
        .events {
            width: 100%;
            margin-top: 2vh;
            margin-bottom: 18vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2vh;
        }
        .event {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            gap: 1vh;
            background: rgba(255, 219, 32, 0.25);
            border-radius: 14px;
            padding: 2vh;
        }
        .event > img {
            width: 9vh;
        }
        .info {
            height: 100%;
            display: flex;
            gap: 0.4vh;
            flex-direction: column;
        }
        .info > h1 {
            margin: 0 !important;
            color: #000;
            font-family: Outfit;
            font-size: 1.2rem;
            width: 100%;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.98px;
        }
        .info > p {
            color: rgba(0, 0, 0, 0.70);
            font-family: Outfit;
            font-size: 0.55rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.309px;
        }
        .info > button {
            border-radius: 36px;
            background: #01B764;
            width: 13vh;
            height: 3vh;
            flex-shrink: 0;
            color: #FFF;
            outline: none;
            border: none;
            cursor: pointer;
        }
        .inputContainer {
        width: 100%;
        padding: 1.9vh 3vh;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 100vw;
        display: flex;
        gap: 1.5vh;
        align-items: center;
        justify-content: center;
        margin-top: 1.8vh;
      }
      .inputContainer svg {
        width: 2.5vh;
        height: 2.5vh;
      }
      .inputContainer input {
        border: none;
        outline: none;
        padding: 0px;
        flex: 1;
        background-color: transparent;
        font-size: 1.6vh;
      }
      .inputContainer select {
        width: 100%;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: transparent;
      }
      .uploadContainer {
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 3.7vh;
        padding: 1.3vh;
        margin-top: 1.8vh;
        display: block;
        cursor: pointer;
      }
      .uploadContainer svg.uploadImage {
        width: 100%;
        height: auto;
      }
      .filePreview {
        display: flex;
        gap: 0.8vh;
        align-items: center;
        justify-content: flex-start;
        margin-top: 1vh;
        padding-left: 1.2vh;
      }
      .filePreview .dot {
        width: 1vh;
        height: 1vh;
        background: #01b764;
        border-radius: 50%;
        flex: 0 0 1vh;
      }
      .filePreview .fileName {
        color: rgba(0, 0, 0, 0.8);
        font-size: 1.5vh;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 22vh;
      }
      .submitBtn {
        margin-top: 3vh;
        background-color: #466eff;
        color: white;
        padding: 1.3vh 2.6vh;
        box-shadow: 0px 0px 16px 2px #bbb;
        border: none;
        outline: none;
        border-radius: 100vh;
        font-size: 2vh;
        cursor: pointer;
        margin-bottom: 18vh;
      }
    </style>
</head>
<body>
    <%- include('partials/phone.ejs') %>
    <div id="phone" class="phone" >
        <svg class="up-time" width="430" height="53" viewBox="0 0 430 53" fill="none" xmlns="http://www.w3.org/2000/svg" id="up-time">
            <rect opacity="0.35" x="362.351" y="22.5546" width="26.6231" height="13.3116" rx="4.21533" stroke="black" stroke-width="1.1093"/>
            <path opacity="0.4" d="M390.527 27.1767V31.6139C391.42 31.2381 392 30.3639 392 29.3953C392 28.4267 391.42 27.5525 390.527 27.1767Z" fill="black"/>
            <rect x="364.02" y="24.2186" width="23.29" height="9.98368" rx="2.77324" fill="black"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M344.126 25.3508C346.885 25.3509 349.539 26.3548 351.538 28.155C351.689 28.294 351.929 28.2923 352.078 28.1511L353.517 26.7755C353.592 26.7039 353.634 26.6069 353.633 26.506C353.633 26.4051 353.59 26.3086 353.514 26.2378C348.266 21.4748 339.986 21.4748 334.738 26.2378C334.662 26.3085 334.619 26.405 334.618 26.5059C334.617 26.6068 334.659 26.7039 334.734 26.7755L336.174 28.1511C336.322 28.2925 336.563 28.2942 336.714 28.155C338.713 26.3547 341.367 25.3508 344.126 25.3508ZM344.124 29.9456C345.63 29.9455 347.082 30.5027 348.198 31.5088C348.349 31.6516 348.587 31.6485 348.734 31.5018L350.162 30.0654C350.237 29.9901 350.279 29.8879 350.278 29.7817C350.277 29.6755 350.233 29.5741 350.156 29.5003C346.757 26.3529 341.494 26.3529 338.095 29.5003C338.019 29.5741 337.975 29.6755 337.974 29.7818C337.973 29.888 338.015 29.9902 338.09 30.0654L339.518 31.5018C339.665 31.6485 339.903 31.6516 340.053 31.5088C341.169 30.5033 342.62 29.9462 344.124 29.9456ZM346.922 32.9871C346.924 33.1018 346.883 33.2124 346.808 33.2927L344.394 35.9653C344.323 36.0439 344.227 36.0881 344.126 36.0881C344.025 36.0881 343.929 36.0439 343.858 35.9653L341.443 33.2927C341.368 33.2123 341.327 33.1017 341.33 32.987C341.332 32.8723 341.377 32.7637 341.455 32.6868C342.997 31.2563 345.255 31.2563 346.797 32.6868C346.875 32.7638 346.92 32.8724 346.922 32.9871Z" fill="black"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M326.299 23.8026C326.299 23.1134 325.769 22.5546 325.115 22.5546H323.932C323.279 22.5546 322.749 23.1134 322.749 23.8026V34.6182C322.749 35.3075 323.279 35.8662 323.932 35.8662H325.115C325.769 35.8662 326.299 35.3075 326.299 34.6182V23.8026ZM318.053 25.2169H319.236C319.89 25.2169 320.419 25.7891 320.419 26.4949V34.5883C320.419 35.2941 319.89 35.8662 319.236 35.8662H318.053C317.399 35.8662 316.87 35.2941 316.87 34.5883V26.4949C316.87 25.7891 317.399 25.2169 318.053 25.2169ZM313.246 28.1011H312.063C311.409 28.1011 310.879 28.6805 310.879 29.3953V34.572C310.879 35.2868 311.409 35.8662 312.063 35.8662H313.246C313.899 35.8662 314.429 35.2868 314.429 34.572V29.3953C314.429 28.6805 313.899 28.1011 313.246 28.1011ZM307.367 30.7634H306.183C305.53 30.7634 305 31.3346 305 32.0391V34.5905C305 35.2951 305.53 35.8662 306.183 35.8662H307.367C308.02 35.8662 308.55 35.2951 308.55 34.5905V32.0391C308.55 31.3346 308.02 30.7634 307.367 30.7634Z" fill="black"/>
            <path d="M62.1607 36.3076C61.1529 36.3076 60.2887 36.0381 59.568 35.499C58.8473 34.96 58.2936 34.1953 57.9068 33.2051C57.5201 32.209 57.3268 31.0283 57.3268 29.6631V29.6455C57.3268 28.2803 57.5201 27.1025 57.9068 26.1123C58.2936 25.1221 58.8473 24.3574 59.568 23.8184C60.2887 23.2793 61.1529 23.0098 62.1607 23.0098C63.1686 23.0098 64.0328 23.2793 64.7535 23.8184C65.4742 24.3574 66.0279 25.1221 66.4146 26.1123C66.8072 27.1025 67.0035 28.2803 67.0035 29.6455V29.6631C67.0035 31.0283 66.8072 32.209 66.4146 33.2051C66.0279 34.1953 65.4742 34.96 64.7535 35.499C64.0328 36.0381 63.1686 36.3076 62.1607 36.3076ZM62.1607 34.4795C62.6998 34.4795 63.1598 34.2861 63.5406 33.8994C63.9215 33.5127 64.2115 32.9619 64.4107 32.2471C64.6158 31.5264 64.7184 30.665 64.7184 29.6631V29.6455C64.7184 28.6436 64.6158 27.7852 64.4107 27.0703C64.2115 26.3555 63.9215 25.8076 63.5406 25.4268C63.1598 25.04 62.6998 24.8467 62.1607 24.8467C61.6217 24.8467 61.1617 25.04 60.7809 25.4268C60.4 25.8076 60.107 26.3555 59.902 27.0703C59.7027 27.7852 59.6031 28.6436 59.6031 29.6455V29.6631C59.6031 30.665 59.7027 31.5264 59.902 32.2471C60.107 32.9619 60.4 33.5127 60.7809 33.8994C61.1617 34.2861 61.6217 34.4795 62.1607 34.4795ZM73.4969 23.001C74.1707 23.001 74.8123 23.127 75.4217 23.3789C76.0311 23.6309 76.5701 24.0176 77.0389 24.5391C77.5135 25.0605 77.8855 25.7314 78.1551 26.5518C78.4246 27.3721 78.5594 28.3535 78.5594 29.4961V29.5137C78.5594 30.9375 78.3543 32.1562 77.9441 33.1699C77.534 34.1836 76.948 34.96 76.1863 35.499C75.4246 36.0381 74.5105 36.3076 73.4441 36.3076C72.6648 36.3076 71.9617 36.167 71.3348 35.8857C70.7137 35.5986 70.198 35.2061 69.7879 34.708C69.3777 34.21 69.1053 33.6387 68.9705 32.9941L68.9529 32.8975H71.1766L71.2117 32.9766C71.323 33.2754 71.4812 33.5361 71.6863 33.7588C71.8973 33.9756 72.1492 34.1455 72.4422 34.2686C72.741 34.3916 73.075 34.4531 73.4441 34.4531C74.118 34.4531 74.6658 34.2568 75.0877 33.8643C75.5154 33.4658 75.8348 32.9355 76.0457 32.2734C76.2566 31.6055 76.3768 30.8672 76.4061 30.0586C76.4119 29.9707 76.4148 29.8857 76.4148 29.8037C76.4148 29.7158 76.4148 29.6309 76.4148 29.5488L76.0193 27.4395C76.0193 26.9531 75.908 26.5166 75.6854 26.1299C75.4627 25.7373 75.1609 25.4268 74.7801 25.1982C74.4051 24.9639 73.9832 24.8467 73.5145 24.8467C73.0516 24.8467 72.6297 24.9609 72.2488 25.1895C71.868 25.4121 71.5633 25.7139 71.3348 26.0947C71.1062 26.4756 70.992 26.9062 70.992 27.3867V27.4043C70.992 27.8906 71.1004 28.3242 71.3172 28.7051C71.534 29.0801 71.8299 29.376 72.2049 29.5928C72.5857 29.8096 73.0135 29.918 73.4881 29.918C73.9686 29.918 74.3992 29.8125 74.7801 29.6016C75.1609 29.3848 75.4627 29.0918 75.6854 28.7227C75.908 28.3535 76.0193 27.9287 76.0193 27.4482V27.4395H76.5467V29.7598H76.2479C76.0955 30.0938 75.8699 30.4072 75.5711 30.7002C75.2723 30.9873 74.9031 31.2188 74.4637 31.3945C74.0242 31.5703 73.5115 31.6582 72.9256 31.6582C72.117 31.6582 71.3992 31.4766 70.7723 31.1133C70.1512 30.75 69.6648 30.252 69.3133 29.6191C68.9617 28.9863 68.7859 28.2715 68.7859 27.4746V27.457C68.7859 26.6016 68.9852 25.8369 69.3836 25.1631C69.7879 24.4893 70.3445 23.9619 71.0535 23.5811C71.7684 23.1943 72.5828 23.001 73.4969 23.001ZM82.0293 34.2949C81.6367 34.2949 81.3057 34.1631 81.0361 33.8994C80.7725 33.6299 80.6406 33.3018 80.6406 32.915C80.6406 32.5283 80.7725 32.2031 81.0361 31.9395C81.3057 31.6699 81.6367 31.5352 82.0293 31.5352C82.4336 31.5352 82.7676 31.6699 83.0312 31.9395C83.2949 32.2031 83.4268 32.5283 83.4268 32.915C83.4268 33.3018 83.2949 33.6299 83.0312 33.8994C82.7676 34.1631 82.4336 34.2949 82.0293 34.2949ZM82.0293 27.7734C81.6367 27.7734 81.3057 27.6416 81.0361 27.3779C80.7725 27.1084 80.6406 26.7803 80.6406 26.3936C80.6406 26.0068 80.7725 25.6816 81.0361 25.418C81.3057 25.1484 81.6367 25.0137 82.0293 25.0137C82.4336 25.0137 82.7676 25.1484 83.0312 25.418C83.2949 25.6816 83.4268 26.0068 83.4268 26.3936C83.4268 26.7803 83.2949 27.1084 83.0312 27.3779C82.7676 27.6416 82.4336 27.7734 82.0293 27.7734ZM91.6867 36V33.5654H85.4816V31.7109C85.8098 31.1367 86.1437 30.5654 86.4836 29.9971C86.8234 29.4229 87.1662 28.8516 87.5119 28.2832C87.8635 27.709 88.2121 27.1436 88.5578 26.5869C88.9094 26.0244 89.258 25.4707 89.6037 24.9258C89.9553 24.3809 90.3039 23.8447 90.6496 23.3174H93.8488V31.6934H95.5627V33.5654H93.8488V36H91.6867ZM87.5822 31.7461H91.7219V25.1279H91.5988C91.3352 25.5264 91.0656 25.9365 90.7902 26.3584C90.5207 26.7803 90.2482 27.2109 89.9729 27.6504C89.6975 28.0898 89.4221 28.5322 89.1467 28.9775C88.8771 29.4229 88.6105 29.8682 88.3469 30.3135C88.0832 30.7529 87.8283 31.1895 87.5822 31.623V31.7461ZM100.351 36V25.5498H100.202L97.0463 27.7734V25.6465L100.36 23.3174H102.61V36H100.351Z" fill="black"/>
            <rect x="152.5" y="11.33" width="125" height="36.67" rx="18.335" fill="black"/>
            </svg>

        
        <h1>Soil Scan</h1>
        <form action="" method="post">

            <div class="inputContainer">
                <select name="crop" id="crop">
                    <% for (let i = 0; i < crops.length; i++) { %>
                        <option value="<%= crops[i] %>"><%= crops[i].toUpperCase() %></option>
                    <% } %>
                </select>
            </div>
    
    
            <div class="inputContainer">
              <svg
                width="18"
                height="16"
                viewBox="0 0 18 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3.31166 5.33445C3.51424 4.68964 4.11191 4.25095 4.78778 4.25095H13.2122C13.8881 4.25095 14.4858 4.68964 14.6883 5.33445L17.3682 13.8645C17.6814 14.8613 16.9369 15.8755 15.8921 15.8755H2.10791C1.06309 15.8755 0.318631 14.8613 0.631792 13.8645L3.31166 5.33445Z"
                  fill="#494949"
                />
                <path
                  d="M11.5728 2.90324C11.5728 4.32409 10.421 5.47592 9.00017 5.47592C7.57932 5.47592 6.42749 4.32409 6.42749 2.90324C6.42749 1.48239 7.57932 0.330566 9.00017 0.330566C10.421 0.330566 11.5728 1.48239 11.5728 2.90324ZM7.80893 2.90324C7.80893 3.56115 8.34227 4.09448 9.00017 4.09448C9.65807 4.09448 10.1914 3.56115 10.1914 2.90324C10.1914 2.24534 9.65807 1.71201 9.00017 1.71201C8.34227 1.71201 7.80893 2.24534 7.80893 2.90324Z"
                  fill="#494949"
                />
              </svg>
              <input
                type="number"
                name="quantity"
                placeholder="Set Weight Target (kg)"
                max="500"
              />
            </div>
    
            <label class="uploadContainer" for="cropImage">
              <svg
                width="322"
                height="131"
                viewBox="0 0 322 131"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="uploadImage"
              >
                <rect
                  x="1.05054"
                  y="0.585449"
                  width="319.899"
                  height="129.74"
                  rx="15.5"
                  stroke="black"
                  stroke-opacity="0.43"
                  stroke-dasharray="10 10"
                />
                <path
                  d="M102.88 95.1057C102.21 95.1057 101.61 94.9578 101.079 94.6619C100.557 94.3574 100.144 93.944 99.8389 93.4219C99.5344 92.8911 99.3821 92.2907 99.3821 91.6206V85.9165H100.609V91.5945C100.609 92.0731 100.709 92.4865 100.909 92.8345C101.109 93.1826 101.379 93.4524 101.719 93.6438C102.067 93.8353 102.454 93.931 102.88 93.931C103.324 93.931 103.711 93.8353 104.042 93.6438C104.381 93.4524 104.647 93.1826 104.838 92.8345C105.038 92.4865 105.138 92.0775 105.138 91.6076V85.9165H106.378V91.6337C106.378 92.3037 106.226 92.8998 105.922 93.4219C105.617 93.944 105.204 94.3574 104.682 94.6619C104.159 94.9578 103.559 95.1057 102.88 95.1057ZM110.981 95.1057C110.511 95.1057 110.085 95.01 109.702 94.8186C109.327 94.6184 109.027 94.3443 108.801 93.9962C108.575 93.6482 108.449 93.2522 108.422 92.8084V90.9419C108.449 90.4894 108.575 90.0934 108.801 89.754C109.036 89.406 109.341 89.1362 109.715 88.9448C110.098 88.7446 110.52 88.6445 110.981 88.6445C111.546 88.6445 112.056 88.7881 112.508 89.0753C112.969 89.3625 113.33 89.7497 113.591 90.237C113.853 90.7243 113.983 91.2725 113.983 91.8817C113.983 92.4908 113.853 93.039 113.591 93.5263C113.33 94.0137 112.969 94.4009 112.508 94.6881C112.056 94.9665 111.546 95.1057 110.981 95.1057ZM110.785 93.9962C111.177 93.9962 111.52 93.9049 111.816 93.7221C112.112 93.5394 112.347 93.2914 112.521 92.9781C112.695 92.6561 112.782 92.2863 112.782 91.8686C112.782 91.4596 112.695 91.0941 112.521 90.7722C112.347 90.4502 112.112 90.2022 111.816 90.0282C111.52 89.8454 111.181 89.754 110.798 89.754C110.407 89.754 110.063 89.8454 109.767 90.0282C109.471 90.2022 109.24 90.4502 109.075 90.7722C108.91 91.0941 108.827 91.464 108.827 91.8817C108.827 92.2907 108.905 92.6561 109.062 92.9781C109.227 93.2914 109.458 93.5394 109.754 93.7221C110.058 93.9049 110.402 93.9962 110.785 93.9962ZM107.718 97.5728V88.7751H108.892V90.4067L108.67 91.9078L108.892 93.4219V97.5728H107.718ZM114.845 94.9752V85.6554H116.019V94.9752H114.845ZM120.101 95.1057C119.491 95.1057 118.943 94.9622 118.456 94.675C117.969 94.3878 117.581 94.0006 117.294 93.5133C117.007 93.0173 116.863 92.4647 116.863 91.8556C116.863 91.2551 117.007 90.7156 117.294 90.237C117.581 89.7497 117.969 89.3625 118.456 89.0753C118.943 88.7881 119.491 88.6445 120.101 88.6445C120.701 88.6445 121.245 88.7881 121.732 89.0753C122.228 89.3537 122.62 89.7366 122.907 90.2239C123.194 90.7113 123.338 91.2551 123.338 91.8556C123.338 92.4647 123.194 93.0173 122.907 93.5133C122.62 94.0006 122.228 94.3878 121.732 94.675C121.245 94.9622 120.701 95.1057 120.101 95.1057ZM120.101 93.9701C120.492 93.9701 120.84 93.8788 121.145 93.696C121.449 93.5133 121.689 93.2653 121.863 92.952C122.037 92.63 122.124 92.2646 122.124 91.8556C122.124 91.4553 122.032 91.0985 121.85 90.7852C121.676 90.472 121.436 90.2283 121.132 90.0543C120.836 89.8715 120.492 89.7801 120.101 89.7801C119.709 89.7801 119.361 89.8715 119.056 90.0543C118.752 90.2283 118.512 90.472 118.338 90.7852C118.164 91.0985 118.077 91.4553 118.077 91.8556C118.077 92.2646 118.164 92.63 118.338 92.952C118.512 93.2653 118.752 93.5133 119.056 93.696C119.361 93.8788 119.709 93.9701 120.101 93.9701ZM126.828 95.1057C126.262 95.1057 125.749 94.9665 125.288 94.6881C124.826 94.4009 124.461 94.0137 124.191 93.5263C123.93 93.039 123.799 92.4908 123.799 91.8817C123.799 91.2725 123.93 90.7243 124.191 90.237C124.461 89.7497 124.822 89.3625 125.274 89.0753C125.736 88.7881 126.253 88.6445 126.828 88.6445C127.298 88.6445 127.715 88.7446 128.081 88.9448C128.455 89.1362 128.755 89.406 128.982 89.754C129.208 90.0934 129.334 90.4894 129.36 90.9419V92.8084C129.334 93.2522 129.208 93.6482 128.982 93.9962C128.764 94.3443 128.468 94.6184 128.094 94.8186C127.728 95.01 127.306 95.1057 126.828 95.1057ZM127.024 93.9962C127.607 93.9962 128.077 93.8005 128.433 93.4089C128.79 93.0086 128.968 92.4995 128.968 91.8817C128.968 91.4553 128.886 91.0854 128.72 90.7722C128.564 90.4502 128.338 90.2022 128.042 90.0282C127.746 89.8454 127.402 89.754 127.011 89.754C126.619 89.754 126.271 89.8454 125.966 90.0282C125.67 90.2109 125.435 90.4632 125.261 90.7852C125.096 91.0985 125.013 91.4596 125.013 91.8686C125.013 92.2863 125.096 92.6561 125.261 92.9781C125.435 93.2914 125.675 93.5394 125.979 93.7221C126.284 93.9049 126.632 93.9962 127.024 93.9962ZM128.89 94.9752V93.3044L129.112 91.7903L128.89 90.2892V88.7751H130.078V94.9752H128.89ZM133.942 95.1057C133.367 95.1057 132.854 94.9665 132.402 94.6881C131.949 94.4009 131.588 94.0137 131.318 93.5263C131.057 93.039 130.927 92.4908 130.927 91.8817C130.927 91.2725 131.057 90.7243 131.318 90.237C131.588 89.7497 131.949 89.3625 132.402 89.0753C132.854 88.7881 133.367 88.6445 133.942 88.6445C134.403 88.6445 134.821 88.7446 135.195 88.9448C135.569 89.1362 135.869 89.406 136.095 89.754C136.33 90.0934 136.461 90.4894 136.487 90.9419V92.8084C136.461 93.2522 136.335 93.6482 136.109 93.9962C135.882 94.3443 135.582 94.6184 135.208 94.8186C134.834 95.01 134.412 95.1057 133.942 95.1057ZM134.138 93.9962C134.529 93.9962 134.869 93.9049 135.156 93.7221C135.452 93.5394 135.682 93.2914 135.847 92.9781C136.013 92.6561 136.095 92.2907 136.095 91.8817C136.095 91.4553 136.008 91.0854 135.834 90.7722C135.669 90.4589 135.438 90.2109 135.143 90.0282C134.855 89.8454 134.516 89.754 134.124 89.754C133.733 89.754 133.389 89.8454 133.093 90.0282C132.797 90.2109 132.562 90.4632 132.388 90.7852C132.223 91.0985 132.14 91.4596 132.14 91.8686C132.14 92.2863 132.223 92.6561 132.388 92.9781C132.562 93.2914 132.797 93.5394 133.093 93.7221C133.398 93.9049 133.746 93.9962 134.138 93.9962ZM137.205 94.9752H136.017V93.3044L136.239 91.7903L136.017 90.2892V85.6554H137.205V94.9752ZM140.703 94.9752V88.7751H141.878V94.9752H140.703ZM141.29 87.535C141.073 87.535 140.895 87.4654 140.755 87.3262C140.616 87.1783 140.546 86.9955 140.546 86.778C140.546 86.5691 140.616 86.3951 140.755 86.2558C140.895 86.1079 141.073 86.0339 141.29 86.0339C141.508 86.0339 141.686 86.1079 141.826 86.2558C141.965 86.3951 142.034 86.5691 142.034 86.778C142.034 86.9955 141.965 87.1783 141.826 87.3262C141.686 87.4654 141.508 87.535 141.29 87.535ZM143.139 94.9752V88.7751H144.314V94.9752H143.139ZM147.329 94.9752V91.229C147.329 90.7678 147.185 90.4067 146.898 90.1456C146.62 89.8759 146.267 89.741 145.841 89.741C145.554 89.741 145.297 89.8019 145.071 89.9237C144.844 90.0456 144.662 90.2152 144.523 90.4328C144.383 90.6503 144.314 90.9114 144.314 91.216L143.831 90.981C143.831 90.5111 143.931 90.1021 144.131 89.754C144.34 89.406 144.623 89.1362 144.979 88.9448C145.336 88.7446 145.736 88.6445 146.18 88.6445C146.615 88.6445 147.007 88.7403 147.355 88.9317C147.712 89.1231 147.99 89.3929 148.19 89.741C148.399 90.0891 148.504 90.5024 148.504 90.981V94.9752H147.329ZM151.519 94.9752V91.229C151.519 90.7678 151.375 90.4067 151.088 90.1456C150.81 89.8759 150.462 89.741 150.044 89.741C149.757 89.741 149.496 89.8019 149.261 89.9237C149.034 90.0456 148.852 90.2152 148.713 90.4328C148.573 90.6503 148.504 90.9114 148.504 91.216L147.838 90.981C147.864 90.5024 147.99 90.0934 148.217 89.754C148.451 89.406 148.752 89.1362 149.117 88.9448C149.483 88.7446 149.883 88.6445 150.318 88.6445C150.771 88.6445 151.175 88.7403 151.532 88.9317C151.889 89.1231 152.172 89.3929 152.38 89.741C152.598 90.0891 152.707 90.5068 152.707 90.9941V94.9752H151.519ZM156.472 95.1057C155.906 95.1057 155.393 94.9665 154.932 94.6881C154.47 94.4009 154.105 94.0137 153.835 93.5263C153.574 93.039 153.444 92.4908 153.444 91.8817C153.444 91.2725 153.574 90.7243 153.835 90.237C154.105 89.7497 154.466 89.3625 154.918 89.0753C155.38 88.7881 155.897 88.6445 156.472 88.6445C156.942 88.6445 157.359 88.7446 157.725 88.9448C158.099 89.1362 158.399 89.406 158.626 89.754C158.852 90.0934 158.978 90.4894 159.004 90.9419V92.8084C158.978 93.2522 158.852 93.6482 158.626 93.9962C158.408 94.3443 158.112 94.6184 157.738 94.8186C157.372 95.01 156.95 95.1057 156.472 95.1057ZM156.668 93.9962C157.251 93.9962 157.721 93.8005 158.077 93.4089C158.434 93.0086 158.612 92.4995 158.612 91.8817C158.612 91.4553 158.53 91.0854 158.364 90.7722C158.208 90.4502 157.982 90.2022 157.686 90.0282C157.39 89.8454 157.046 89.754 156.655 89.754C156.263 89.754 155.915 89.8454 155.61 90.0282C155.314 90.2109 155.079 90.4632 154.905 90.7852C154.74 91.0985 154.657 91.4596 154.657 91.8686C154.657 92.2863 154.74 92.6561 154.905 92.9781C155.079 93.2914 155.319 93.5394 155.623 93.7221C155.928 93.9049 156.276 93.9962 156.668 93.9962ZM158.534 94.9752V93.3044L158.756 91.7903L158.534 90.2892V88.7751H159.722V94.9752H158.534ZM163.534 97.7033C162.898 97.7033 162.333 97.5858 161.837 97.3509C161.349 97.1159 160.958 96.7852 160.662 96.3588L161.419 95.5887C161.671 95.9107 161.972 96.1543 162.32 96.3197C162.668 96.4937 163.081 96.5807 163.56 96.5807C164.195 96.5807 164.695 96.411 165.061 96.0717C165.435 95.741 165.622 95.2928 165.622 94.7272V93.187L165.831 91.7903L165.622 90.4067V88.7751H166.797V94.7272C166.797 95.3189 166.658 95.8367 166.379 96.2805C166.109 96.7243 165.726 97.0724 165.23 97.3248C164.743 97.5771 164.177 97.7033 163.534 97.7033ZM163.534 94.8708C162.968 94.8708 162.459 94.7359 162.006 94.4662C161.563 94.1964 161.21 93.8266 160.949 93.3567C160.688 92.878 160.557 92.3429 160.557 91.7511C160.557 91.1594 160.688 90.6329 160.949 90.1717C161.21 89.7018 161.563 89.332 162.006 89.0622C162.459 88.7838 162.968 88.6445 163.534 88.6445C164.021 88.6445 164.452 88.7403 164.826 88.9317C165.2 89.1231 165.496 89.3929 165.713 89.741C165.94 90.0804 166.061 90.4807 166.079 90.9419V92.5865C166.053 93.039 165.927 93.4393 165.7 93.7874C165.483 94.1268 165.187 94.3922 164.813 94.5836C164.439 94.7751 164.012 94.8708 163.534 94.8708ZM163.768 93.7613C164.151 93.7613 164.486 93.6786 164.774 93.5133C165.069 93.348 165.296 93.1173 165.452 92.8215C165.609 92.5169 165.687 92.1645 165.687 91.7642C165.687 91.3639 165.605 91.0158 165.439 90.72C165.283 90.4154 165.061 90.1804 164.774 90.0151C164.486 89.8411 164.147 89.754 163.755 89.754C163.364 89.754 163.02 89.8411 162.724 90.0151C162.428 90.1804 162.193 90.4154 162.019 90.72C161.854 91.0158 161.771 91.3596 161.771 91.7511C161.771 92.1427 161.854 92.4908 162.019 92.7954C162.193 93.0999 162.428 93.3392 162.724 93.5133C163.029 93.6786 163.377 93.7613 163.768 93.7613ZM170.923 95.1057C170.305 95.1057 169.748 94.9665 169.252 94.6881C168.756 94.4009 168.364 94.0137 168.077 93.5263C167.79 93.039 167.646 92.4865 167.646 91.8686C167.646 91.2595 167.785 90.7113 168.064 90.2239C168.351 89.7366 168.734 89.3537 169.213 89.0753C169.7 88.7881 170.244 88.6445 170.844 88.6445C171.419 88.6445 171.923 88.7751 172.358 89.0361C172.802 89.2972 173.146 89.6583 173.39 90.1195C173.642 90.5807 173.768 91.1028 173.768 91.6859C173.768 91.7729 173.764 91.8686 173.755 91.973C173.746 92.0688 173.729 92.1819 173.703 92.3124H168.469V91.3334H173.076L172.646 91.712C172.646 91.2943 172.572 90.9419 172.424 90.6547C172.276 90.3588 172.067 90.1326 171.797 89.9759C171.527 89.8106 171.201 89.7279 170.818 89.7279C170.418 89.7279 170.065 89.815 169.761 89.989C169.456 90.163 169.221 90.4067 169.056 90.72C168.891 91.0332 168.808 91.4031 168.808 91.8295C168.808 92.2646 168.895 92.6474 169.069 92.9781C169.243 93.3001 169.491 93.5524 169.813 93.7352C170.135 93.9092 170.505 93.9962 170.923 93.9962C171.271 93.9962 171.588 93.9353 171.875 93.8135C172.171 93.6917 172.424 93.5089 172.632 93.2653L173.39 94.0354C173.094 94.3835 172.728 94.6489 172.293 94.8316C171.867 95.0144 171.41 95.1057 170.923 95.1057ZM179.656 95.1057C179.047 95.1057 178.499 94.9622 178.012 94.675C177.524 94.3878 177.137 94.0006 176.85 93.5133C176.563 93.0173 176.419 92.4647 176.419 91.8556C176.419 91.2551 176.563 90.7156 176.85 90.237C177.137 89.7497 177.524 89.3625 178.012 89.0753C178.499 88.7881 179.047 88.6445 179.656 88.6445C180.257 88.6445 180.801 88.7881 181.288 89.0753C181.784 89.3537 182.175 89.7366 182.463 90.2239C182.75 90.7113 182.893 91.2551 182.893 91.8556C182.893 92.4647 182.75 93.0173 182.463 93.5133C182.175 94.0006 181.784 94.3878 181.288 94.675C180.801 94.9622 180.257 95.1057 179.656 95.1057ZM179.656 93.9701C180.048 93.9701 180.396 93.8788 180.7 93.696C181.005 93.5133 181.244 93.2653 181.418 92.952C181.592 92.63 181.679 92.2646 181.679 91.8556C181.679 91.4553 181.588 91.0985 181.405 90.7852C181.231 90.472 180.992 90.2283 180.687 90.0543C180.392 89.8715 180.048 89.7801 179.656 89.7801C179.265 89.7801 178.917 89.8715 178.612 90.0543C178.307 90.2283 178.068 90.472 177.894 90.7852C177.72 91.0985 177.633 91.4553 177.633 91.8556C177.633 92.2646 177.72 92.63 177.894 92.952C178.068 93.2653 178.307 93.5133 178.612 93.696C178.917 93.8788 179.265 93.9701 179.656 93.9701ZM184.443 94.9752V87.8483C184.443 87.3871 184.543 86.9868 184.743 86.6474C184.944 86.2994 185.218 86.0252 185.566 85.8251C185.923 85.625 186.336 85.5249 186.806 85.5249C187.163 85.5249 187.471 85.5858 187.733 85.7076C187.994 85.8295 188.233 86.0078 188.45 86.2428L187.68 86.9999C187.567 86.878 187.441 86.7867 187.302 86.7258C187.163 86.6561 186.993 86.6213 186.793 86.6213C186.419 86.6213 186.127 86.7301 185.918 86.9477C185.718 87.1652 185.618 87.4654 185.618 87.8483V94.9752H184.443ZM182.916 89.8454V88.7751H187.589V89.8454H182.916ZM194.864 95.1057C194.212 95.1057 193.607 94.9883 193.05 94.7533C192.493 94.5097 192.006 94.1746 191.588 93.7482C191.179 93.3218 190.861 92.8258 190.635 92.2602C190.409 91.6946 190.296 91.0898 190.296 90.4458C190.296 89.7932 190.409 89.1841 190.635 88.6184C190.861 88.0528 191.179 87.5611 191.588 87.1434C192.006 86.7171 192.489 86.3864 193.037 86.1514C193.594 85.9078 194.199 85.7859 194.851 85.7859C195.565 85.7859 196.191 85.9078 196.731 86.1514C197.27 86.3951 197.749 86.7258 198.167 87.1434L197.318 87.9919C197.031 87.6699 196.679 87.4176 196.261 87.2348C195.852 87.0521 195.382 86.9607 194.851 86.9607C194.373 86.9607 193.933 87.0477 193.533 87.2218C193.133 87.3871 192.785 87.6264 192.489 87.9397C192.193 88.253 191.962 88.6228 191.797 89.0492C191.64 89.4756 191.562 89.9411 191.562 90.4458C191.562 90.9506 191.64 91.4161 191.797 91.8425C191.962 92.2689 192.193 92.6387 192.489 92.952C192.785 93.2653 193.133 93.5089 193.533 93.683C193.933 93.8483 194.373 93.931 194.851 93.931C195.417 93.931 195.909 93.8396 196.326 93.6569C196.744 93.4654 197.096 93.2087 197.384 92.8867L198.232 93.7221C197.814 94.1572 197.323 94.4966 196.757 94.7403C196.2 94.9839 195.569 95.1057 194.864 95.1057ZM199.06 94.9752V88.7751H200.235V94.9752H199.06ZM200.235 91.4379L199.791 91.2421C199.791 90.4502 199.974 89.8193 200.339 89.3494C200.705 88.8795 201.231 88.6445 201.919 88.6445C202.232 88.6445 202.515 88.7011 202.767 88.8142C203.02 88.9187 203.255 89.097 203.472 89.3494L202.702 90.1456C202.571 90.0064 202.428 89.9063 202.271 89.8454C202.115 89.7845 201.932 89.754 201.723 89.754C201.288 89.754 200.931 89.8933 200.653 90.1717C200.374 90.4502 200.235 90.8722 200.235 91.4379ZM206.458 95.1057C205.848 95.1057 205.3 94.9622 204.813 94.675C204.326 94.3878 203.938 94.0006 203.651 93.5133C203.364 93.0173 203.22 92.4647 203.22 91.8556C203.22 91.2551 203.364 90.7156 203.651 90.237C203.938 89.7497 204.326 89.3625 204.813 89.0753C205.3 88.7881 205.848 88.6445 206.458 88.6445C207.058 88.6445 207.602 88.7881 208.089 89.0753C208.585 89.3537 208.977 89.7366 209.264 90.2239C209.551 90.7113 209.695 91.2551 209.695 91.8556C209.695 92.4647 209.551 93.0173 209.264 93.5133C208.977 94.0006 208.585 94.3878 208.089 94.675C207.602 94.9622 207.058 95.1057 206.458 95.1057ZM206.458 93.9701C206.849 93.9701 207.197 93.8788 207.502 93.696C207.806 93.5133 208.046 93.2653 208.22 92.952C208.394 92.63 208.481 92.2646 208.481 91.8556C208.481 91.4553 208.389 91.0985 208.207 90.7852C208.033 90.472 207.793 90.2283 207.489 90.0543C207.193 89.8715 206.849 89.7801 206.458 89.7801C206.066 89.7801 205.718 89.8715 205.413 90.0543C205.109 90.2283 204.87 90.472 204.695 90.7852C204.521 91.0985 204.434 91.4553 204.434 91.8556C204.434 92.2646 204.521 92.63 204.695 92.952C204.87 93.2653 205.109 93.5133 205.413 93.696C205.718 93.8788 206.066 93.9701 206.458 93.9701ZM213.811 95.1057C213.342 95.1057 212.915 95.01 212.532 94.8186C212.158 94.6184 211.858 94.3443 211.632 93.9962C211.405 93.6482 211.279 93.2522 211.253 92.8084V90.9419C211.279 90.4894 211.405 90.0934 211.632 89.754C211.867 89.406 212.171 89.1362 212.545 88.9448C212.928 88.7446 213.35 88.6445 213.811 88.6445C214.377 88.6445 214.886 88.7881 215.339 89.0753C215.8 89.3625 216.161 89.7497 216.422 90.237C216.683 90.7243 216.814 91.2725 216.814 91.8817C216.814 92.4908 216.683 93.039 216.422 93.5263C216.161 94.0137 215.8 94.4009 215.339 94.6881C214.886 94.9665 214.377 95.1057 213.811 95.1057ZM213.616 93.9962C214.007 93.9962 214.351 93.9049 214.647 93.7221C214.943 93.5394 215.178 93.2914 215.352 92.9781C215.526 92.6561 215.613 92.2863 215.613 91.8686C215.613 91.4596 215.526 91.0941 215.352 90.7722C215.178 90.4502 214.943 90.2022 214.647 90.0282C214.351 89.8454 214.012 89.754 213.629 89.754C213.237 89.754 212.893 89.8454 212.598 90.0282C212.302 90.2022 212.071 90.4502 211.906 90.7722C211.74 91.0941 211.658 91.464 211.658 91.8817C211.658 92.2907 211.736 92.6561 211.893 92.9781C212.058 93.2914 212.289 93.5394 212.584 93.7221C212.889 93.9049 213.233 93.9962 213.616 93.9962ZM210.548 97.5728V88.7751H211.723V90.4067L211.501 91.9078L211.723 93.4219V97.5728H210.548ZM221.317 94.9752V85.9165H222.531V94.9752H221.317ZM219.463 87.0129V85.9165H222.4V87.0129H219.463Z"
                  fill="black"
                  fill-opacity="0.7"
                />
                <path
                  d="M152.789 72.0044H179.378C183.404 72.0044 186.668 68.7405 186.668 64.7143V59.1665M152.789 72.0044H142.563C138.537 72.0044 135.273 68.7405 135.273 64.7143V40.9049C135.273 36.8786 138.537 33.6147 142.563 33.6147H179.378C183.404 33.6147 186.668 36.8786 186.668 40.9049V59.1665M152.789 72.0044L165.348 50.8938C167.763 46.8343 173.342 46.1082 176.716 49.4142L186.668 59.1665"
                  stroke="black"
                  stroke-opacity="0.7"
                  stroke-width="2.91606"
                />
                <circle
                  cx="149.906"
                  cy="47.0553"
                  r="6.93455"
                  stroke="black"
                  stroke-opacity="0.7"
                  stroke-width="2.91606"
                />
              </svg>
            </label>
            <input
              type="file"
              name="cropImage"
              id="cropImage"
              style="display: none"
            />
            <div id="cropImagePreview" class="filePreview" aria-hidden="true">
              <span class="fileName">No file selected</span>
            </div>
    
            <div
              style="display: flex; justify-content: center; align-items: center"
            >
              <button type="submit" class="submitBtn">Done</button>
            </div>
        </form>
        
        <svg onclick="window.history.back()"" id="back" class="back" width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.5304 1.49811L1.50391 10.5246L10.5304 19.551" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

        <div class="navbar">
            <svg onclick="window.location.href='/'" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.9715 21.1379V15.7642C13.9715 14.9091 13.6318 14.089 13.0272 13.4844C12.4225 12.8797 11.6024 12.54 10.7473 12.54C9.89222 12.54 9.07213 12.8797 8.46748 13.4844C7.86282 14.089 7.52313 14.9091 7.52313 15.7642V21.1379H2.14947C1.57939 21.1379 1.03267 20.9114 0.629564 20.5083C0.226461 20.1052 0 19.5585 0 18.9884V7.3082C-3.57106e-06 6.93702 0.096114 6.57216 0.278993 6.24916C0.461872 5.92615 0.72528 5.65601 1.04357 5.46504L9.64143 0.30632C9.97549 0.10588 10.3577 0 10.7473 0C11.1369 0 11.5192 0.10588 11.8532 0.30632L20.4511 5.46504C20.7694 5.65601 21.0328 5.92615 21.2157 6.24916C21.3985 6.57216 21.4947 6.93702 21.4947 7.3082V18.9884C21.4947 19.5585 21.2682 20.1052 20.8651 20.5083C20.462 20.9114 19.9153 21.1379 19.3452 21.1379H13.9715Z" fill="black" fill-opacity="0.4"/>
                </svg>                

            <svg onclick="window.location.href = '/job'" width="28" height="21" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M27.6671 6.66318H0.798767V4.06591C0.798767 3.03265 1.22338 2.04171 1.9792 1.31109C2.73502 0.580466 3.76013 0.170006 4.82902 0.170006L23.6368 0.170006C24.7057 0.170006 25.7308 0.580466 26.4867 1.31109C27.2425 2.04171 27.6671 3.03265 27.6671 4.06591V6.66318ZM27.6671 9.26046V17.0523C27.6671 18.0855 27.2425 19.0765 26.4867 19.8071C25.7308 20.5377 24.7057 20.9482 23.6368 20.9482H4.82902C3.76013 20.9482 2.73502 20.5377 1.9792 19.8071C1.22338 19.0765 0.798767 18.0855 0.798767 17.0523L0.798767 9.26046H9.02853C9.32736 10.375 10.0006 11.3621 10.9425 12.0667C11.8845 12.7714 13.0419 13.1537 14.2329 13.1537C15.424 13.1537 16.5813 12.7714 17.5233 12.0667C18.4653 11.3621 19.1385 10.375 19.4373 9.26046H27.6671Z" fill="black" fill-opacity="0.4"/>
                </svg>
                    

            <svg width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.16464 3.6366V6.05475C4.16464 6.69608 4.42885 7.31115 4.89913 7.76464C5.36942 8.21813 6.00727 8.4729 6.67235 8.4729C7.33744 8.4729 7.97528 8.21813 8.44557 7.76464C8.91586 7.31115 9.18006 6.69608 9.18006 6.05475V3.6366H16.7032V6.05475C16.7032 6.69608 16.9674 7.31115 17.4377 7.76464C17.908 8.21813 18.5458 8.4729 19.2109 8.4729C19.876 8.4729 20.5138 8.21813 20.9841 7.76464C21.4544 7.31115 21.7186 6.69608 21.7186 6.05475V3.6366C22.7162 3.6366 23.673 4.01875 24.3784 4.69899C25.0839 5.37923 25.4802 6.30182 25.4802 7.26382V9.68197H0.403076V7.26382C0.403076 6.30182 0.799383 5.37923 1.50481 4.69899C2.21024 4.01875 3.16701 3.6366 4.16464 3.6366ZM25.4802 12.1001V19.3546C25.4802 20.3166 25.0839 21.2392 24.3784 21.9194C23.673 22.5996 22.7162 22.9818 21.7186 22.9818H4.16464C3.16701 22.9818 2.21024 22.5996 1.50481 21.9194C0.799383 21.2392 0.403076 20.3166 0.403076 19.3546L0.403076 12.1001H25.4802ZM19.2109 0.00937653C19.5434 0.00937653 19.8624 0.136761 20.0975 0.363506C20.3327 0.590252 20.4648 0.897785 20.4648 1.21845V6.05475C20.4648 6.37542 20.3327 6.68295 20.0975 6.90969C19.8624 7.13644 19.5434 7.26382 19.2109 7.26382C18.8784 7.26382 18.5594 7.13644 18.3243 6.90969C18.0891 6.68295 17.957 6.37542 17.957 6.05475V1.21845C17.957 0.897785 18.0891 0.590252 18.3243 0.363506C18.5594 0.136761 18.8784 0.00937653 19.2109 0.00937653ZM6.67235 0.00937653C7.00489 0.00937653 7.32382 0.136761 7.55896 0.363506C7.7941 0.590252 7.92621 0.897785 7.92621 1.21845V6.05475C7.92621 6.37542 7.7941 6.68295 7.55896 6.90969C7.32382 7.13644 7.00489 7.26382 6.67235 7.26382C6.33981 7.26382 6.02089 7.13644 5.78574 6.90969C5.5506 6.68295 5.4185 6.37542 5.4185 6.05475V1.21845C5.4185 0.897785 5.5506 0.590252 5.78574 0.363506C6.02089 0.136761 6.33981 0.00937653 6.67235 0.00937653Z" fill="black"/>
                </svg>
                                        
                        

            <svg onclick="window.location.href = '/profile'" width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.529297 19.0561C0.529297 15.7255 3.22931 13.0255 6.55995 13.0255H14.1924C17.523 13.0255 20.223 15.7255 20.223 19.0561V21.9159C20.223 22.6399 19.6361 23.2269 18.912 23.2269H1.84031C1.11626 23.2269 0.529297 22.6399 0.529297 21.9159V19.0561Z" fill="black" fill-opacity="0.4"/>
                <circle cx="10.376" cy="5.47015" r="5.46076" fill="black" fill-opacity="0.4"/>
                </svg>
                                        
        </div>

        <svg class="down-bar" width="430" height="34" viewBox="0 0 430 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="139" y="21" width="152" height="5" rx="2.5" fill="black" fill-opacity="0.6"/>
            </svg>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script>
    function isMobileDevice() {
        return window.innerWidth <= 800;
    }

    if (isMobileDevice()) {
        console.log("hello");
        const phone = document.getElementById('phone')
        phone.style.width = '100vw'
        phone.style.height = '100vh'
        phone.style.borderRadius = '0'
        document.getElementById('up-time').style.display = 'none'
    }

    function raisePopup() {
        var notyf = new Notyf({
            position: {
                x: 'center',
                y: 'bottom',
            },
        });
        notyf.success("Registered Successfully")
    }
</script>
<script>
  // File preview helpers - mirror behavior from track.ejs
  (function () {
    function makePreview(file) {
      // container: dot + optional thumbnail + filename
      const wrapper = document.createElement('div');
      wrapper.style.display = 'flex';
      wrapper.style.gap = '0.8vh';
      wrapper.style.alignItems = 'center';

      const dot = document.createElement('span');
      dot.className = 'dot';
      wrapper.appendChild(dot);

      // If it's an image, show a small thumbnail
      if (file && file.type && file.type.startsWith('image/')) {
        try {
          const img = document.createElement('img');
          img.src = URL.createObjectURL(file);
          img.style.width = '4vh';
          img.style.height = '4vh';
          img.style.objectFit = 'cover';
          img.style.borderRadius = '6px';
          img.onload = function () {
            // release object URL after load
            URL.revokeObjectURL(img.src);
          };
          wrapper.appendChild(img);
        } catch (e) {
          // ignore thumbnail errors
        }
      }

      const name = document.createElement('span');
      name.className = 'fileName';
      name.textContent = file ? file.name : 'No file selected';
      wrapper.appendChild(name);

      return wrapper;
    }

    function attachPreview(inputId, previewId) {
      const input = document.getElementById(inputId);
      const preview = document.getElementById(previewId);
      if (!input || !preview) return;

      function update() {
        preview.innerHTML = '';
        const file = input.files && input.files[0];
        if (!file) {
          const no = document.createElement('span');
          no.className = 'fileName';
          no.textContent = 'No file selected';
          preview.appendChild(no);
          preview.setAttribute('aria-hidden', 'true');
          return;
        }
        const node = makePreview(file);
        preview.appendChild(node);
        preview.setAttribute('aria-hidden', 'false');
      }

      input.addEventListener('change', update);
      // initial state
      update();
    }

    // bind on DOMContentLoaded to ensure elements exist
    if (document.readyState === 'loading') {
      document.addEventListener('DOMContentLoaded', function () {
        attachPreview('cropImage', 'cropImagePreview');
      });
    } else {
      attachPreview('cropImage', 'cropImagePreview');
    }
  })();
</script>
</html>