<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"
    />
    <title>Level</title>
    <style>
      .navbar {
        width: 38vh;
        height: 10vh;
        flex-shrink: 0;

        border-radius: 88px;
        background: #fff;
        box-shadow: 0px 0px 30.8px 0px rgba(0, 0, 0, 0.25);

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        align-self: center;
        position: fixed;
        bottom: 5vh;
      }
      .navbar > svg {
        width: 3vh;
        aspect-ratio: inherit;
      }

      .up-time {
        width: 30%;
        position: fixed;
        top: 1vh;
        margin-left: -5.5vh;
      }

      .down-bar {
        width: 30%;
        position: fixed;
        bottom: 0;
        margin-left: -5.5vh;
      }
      .heading {
        color: #000;
        font-family: Outfit;
        font-size: 2.3rem;
        font-style: normal;
        font-weight: 500;
        margin: 0px;
        line-height: normal;
        letter-spacing: -2.393px;
        margin-top: 5vh;
      }
      .back {
        position: absolute;
        top: 7vh;
        left: 2vh;
        z-index: 1000;
      }
      .subtext {
        color: rgba(0, 0, 0, 0.7);
        font-size: 1.6vh;
        margin: 0px;
      }
      .inputContainer {
        width: 100%;
        padding: 1.9vh 3vh;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 100vw;
        display: flex;
        gap: 1.5vh;
        align-items: center;
        justify-content: center;
        margin-top: 1.8vh;
      }
      .inputContainer svg {
        width: 1.4vh;
        height: 1.4vh;
      }
      .uploadContainer {
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 3.7vh;
        padding: 1.3vh;
        margin-top: 1.8vh;
        display: block;
        cursor: pointer;
      }
      .uploadContainer svg.uploadImage {
        width: 100%;
        height: auto;
      }
      .inputContainer input {
        border: none;
        outline: none;
        padding: 0px;
        flex: 1;
        background-color: transparent;
        font-size: 1.6vh;
      }
      .submitBtn {
        margin-top: 3vh;
        background-color: #01b764;
        color: white;
        padding: 1.3vh 2.6vh;
        box-shadow: 0px 0px 16px 2px #bbb;
        border: none;
        outline: none;
        border-radius: 100vh;
        font-size: 2vh;
        cursor: pointer;
        margin-bottom: 18vh;
      }
      /* preview styles */
      .filePreview {
        display: flex;
        gap: 0.8vh;
        align-items: center;
        justify-content: flex-start;
        margin-top: 1vh;
        padding-left: 1.2vh;
      }
      .filePreview .dot {
        width: 1vh;
        height: 1vh;
        background: #01b764;
        border-radius: 50%;
        flex: 0 0 1vh;
      }
      .filePreview .fileName {
        color: rgba(0, 0, 0, 0.8);
        font-size: 1.5vh;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 22vh;
      }
    </style>
  </head>
  <body>
    <%- include('partials/phone.ejs') %> <% if (error) { %>
    <p id="error" style="display: none"><%= error %></p>
    <% } %>
    <div id="phone" class="phone">
      <svg
        class="up-time"
        width="430"
        height="53"
        viewBox="0 0 430 53"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        id="up-time"
        style="position: fixed; z-index: 100"
      >
        <rect
          opacity="0.35"
          x="362.351"
          y="22.5546"
          width="26.6231"
          height="13.3116"
          rx="4.21533"
          stroke="black"
          stroke-width="1.1093"
        />
        <path
          opacity="0.4"
          d="M390.527 27.1767V31.6139C391.42 31.2381 392 30.3639 392 29.3953C392 28.4267 391.42 27.5525 390.527 27.1767Z"
          fill="black"
        />
        <rect
          x="364.02"
          y="24.2186"
          width="23.29"
          height="9.98368"
          rx="2.77324"
          fill="black"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M344.126 25.3508C346.885 25.3509 349.539 26.3548 351.538 28.155C351.689 28.294 351.929 28.2923 352.078 28.1511L353.517 26.7755C353.592 26.7039 353.634 26.6069 353.633 26.506C353.633 26.4051 353.59 26.3086 353.514 26.2378C348.266 21.4748 339.986 21.4748 334.738 26.2378C334.662 26.3085 334.619 26.405 334.618 26.5059C334.617 26.6068 334.659 26.7039 334.734 26.7755L336.174 28.1511C336.322 28.2925 336.563 28.2942 336.714 28.155C338.713 26.3547 341.367 25.3508 344.126 25.3508ZM344.124 29.9456C345.63 29.9455 347.082 30.5027 348.198 31.5088C348.349 31.6516 348.587 31.6485 348.734 31.5018L350.162 30.0654C350.237 29.9901 350.279 29.8879 350.278 29.7817C350.277 29.6755 350.233 29.5741 350.156 29.5003C346.757 26.3529 341.494 26.3529 338.095 29.5003C338.019 29.5741 337.975 29.6755 337.974 29.7818C337.973 29.888 338.015 29.9902 338.09 30.0654L339.518 31.5018C339.665 31.6485 339.903 31.6516 340.053 31.5088C341.169 30.5033 342.62 29.9462 344.124 29.9456ZM346.922 32.9871C346.924 33.1018 346.883 33.2124 346.808 33.2927L344.394 35.9653C344.323 36.0439 344.227 36.0881 344.126 36.0881C344.025 36.0881 343.929 36.0439 343.858 35.9653L341.443 33.2927C341.368 33.2123 341.327 33.1017 341.33 32.987C341.332 32.8723 341.377 32.7637 341.455 32.6868C342.997 31.2563 345.255 31.2563 346.797 32.6868C346.875 32.7638 346.92 32.8724 346.922 32.9871Z"
          fill="black"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M326.299 23.8026C326.299 23.1134 325.769 22.5546 325.115 22.5546H323.932C323.279 22.5546 322.749 23.1134 322.749 23.8026V34.6182C322.749 35.3075 323.279 35.8662 323.932 35.8662H325.115C325.769 35.8662 326.299 35.3075 326.299 34.6182V23.8026ZM318.053 25.2169H319.236C319.89 25.2169 320.419 25.7891 320.419 26.4949V34.5883C320.419 35.2941 319.89 35.8662 319.236 35.8662H318.053C317.399 35.8662 316.87 35.2941 316.87 34.5883V26.4949C316.87 25.7891 317.399 25.2169 318.053 25.2169ZM313.246 28.1011H312.063C311.409 28.1011 310.879 28.6805 310.879 29.3953V34.572C310.879 35.2868 311.409 35.8662 312.063 35.8662H313.246C313.899 35.8662 314.429 35.2868 314.429 34.572V29.3953C314.429 28.6805 313.899 28.1011 313.246 28.1011ZM307.367 30.7634H306.183C305.53 30.7634 305 31.3346 305 32.0391V34.5905C305 35.2951 305.53 35.8662 306.183 35.8662H307.367C308.02 35.8662 308.55 35.2951 308.55 34.5905V32.0391C308.55 31.3346 308.02 30.7634 307.367 30.7634Z"
          fill="black"
        />
        <path
          d="M62.1607 36.3076C61.1529 36.3076 60.2887 36.0381 59.568 35.499C58.8473 34.96 58.2936 34.1953 57.9068 33.2051C57.5201 32.209 57.3268 31.0283 57.3268 29.6631V29.6455C57.3268 28.2803 57.5201 27.1025 57.9068 26.1123C58.2936 25.1221 58.8473 24.3574 59.568 23.8184C60.2887 23.2793 61.1529 23.0098 62.1607 23.0098C63.1686 23.0098 64.0328 23.2793 64.7535 23.8184C65.4742 24.3574 66.0279 25.1221 66.4146 26.1123C66.8072 27.1025 67.0035 28.2803 67.0035 29.6455V29.6631C67.0035 31.0283 66.8072 32.209 66.4146 33.2051C66.0279 34.1953 65.4742 34.96 64.7535 35.499C64.0328 36.0381 63.1686 36.3076 62.1607 36.3076ZM62.1607 34.4795C62.6998 34.4795 63.1598 34.2861 63.5406 33.8994C63.9215 33.5127 64.2115 32.9619 64.4107 32.2471C64.6158 31.5264 64.7184 30.665 64.7184 29.6631V29.6455C64.7184 28.6436 64.6158 27.7852 64.4107 27.0703C64.2115 26.3555 63.9215 25.8076 63.5406 25.4268C63.1598 25.04 62.6998 24.8467 62.1607 24.8467C61.6217 24.8467 61.1617 25.04 60.7809 25.4268C60.4 25.8076 60.107 26.3555 59.902 27.0703C59.7027 27.7852 59.6031 28.6436 59.6031 29.6455V29.6631C59.6031 30.665 59.7027 31.5264 59.902 32.2471C60.107 32.9619 60.4 33.5127 60.7809 33.8994C61.1617 34.2861 61.6217 34.4795 62.1607 34.4795ZM73.4969 23.001C74.1707 23.001 74.8123 23.127 75.4217 23.3789C76.0311 23.6309 76.5701 24.0176 77.0389 24.5391C77.5135 25.0605 77.8855 25.7314 78.1551 26.5518C78.4246 27.3721 78.5594 28.3535 78.5594 29.4961V29.5137C78.5594 30.9375 78.3543 32.1562 77.9441 33.1699C77.534 34.1836 76.948 34.96 76.1863 35.499C75.4246 36.0381 74.5105 36.3076 73.4441 36.3076C72.6648 36.3076 71.9617 36.167 71.3348 35.8857C70.7137 35.5986 70.198 35.2061 69.7879 34.708C69.3777 34.21 69.1053 33.6387 68.9705 32.9941L68.9529 32.8975H71.1766L71.2117 32.9766C71.323 33.2754 71.4812 33.5361 71.6863 33.7588C71.8973 33.9756 72.1492 34.1455 72.4422 34.2686C72.741 34.3916 73.075 34.4531 73.4441 34.4531C74.118 34.4531 74.6658 34.2568 75.0877 33.8643C75.5154 33.4658 75.8348 32.9355 76.0457 32.2734C76.2566 31.6055 76.3768 30.8672 76.4061 30.0586C76.4119 29.9707 76.4148 29.8857 76.4148 29.8037C76.4148 29.7158 76.4148 29.6309 76.4148 29.5488L76.0193 27.4395C76.0193 26.9531 75.908 26.5166 75.6854 26.1299C75.4627 25.7373 75.1609 25.4268 74.7801 25.1982C74.4051 24.9639 73.9832 24.8467 73.5145 24.8467C73.0516 24.8467 72.6297 24.9609 72.2488 25.1895C71.868 25.4121 71.5633 25.7139 71.3348 26.0947C71.1062 26.4756 70.992 26.9062 70.992 27.3867V27.4043C70.992 27.8906 71.1004 28.3242 71.3172 28.7051C71.534 29.0801 71.8299 29.376 72.2049 29.5928C72.5857 29.8096 73.0135 29.918 73.4881 29.918C73.9686 29.918 74.3992 29.8125 74.7801 29.6016C75.1609 29.3848 75.4627 29.0918 75.6854 28.7227C75.908 28.3535 76.0193 27.9287 76.0193 27.4482V27.4395H76.5467V29.7598H76.2479C76.0955 30.0938 75.8699 30.4072 75.5711 30.7002C75.2723 30.9873 74.9031 31.2188 74.4637 31.3945C74.0242 31.5703 73.5115 31.6582 72.9256 31.6582C72.117 31.6582 71.3992 31.4766 70.7723 31.1133C70.1512 30.75 69.6648 30.252 69.3133 29.6191C68.9617 28.9863 68.7859 28.2715 68.7859 27.4746V27.457C68.7859 26.6016 68.9852 25.8369 69.3836 25.1631C69.7879 24.4893 70.3445 23.9619 71.0535 23.5811C71.7684 23.1943 72.5828 23.001 73.4969 23.001ZM82.0293 34.2949C81.6367 34.2949 81.3057 34.1631 81.0361 33.8994C80.7725 33.6299 80.6406 33.3018 80.6406 32.915C80.6406 32.5283 80.7725 32.2031 81.0361 31.9395C81.3057 31.6699 81.6367 31.5352 82.0293 31.5352C82.4336 31.5352 82.7676 31.6699 83.0312 31.9395C83.2949 32.2031 83.4268 32.5283 83.4268 32.915C83.4268 33.3018 83.2949 33.6299 83.0312 33.8994C82.7676 34.1631 82.4336 34.2949 82.0293 34.2949ZM82.0293 27.7734C81.6367 27.7734 81.3057 27.6416 81.0361 27.3779C80.7725 27.1084 80.6406 26.7803 80.6406 26.3936C80.6406 26.0068 80.7725 25.6816 81.0361 25.418C81.3057 25.1484 81.6367 25.0137 82.0293 25.0137C82.4336 25.0137 82.7676 25.1484 83.0312 25.418C83.2949 25.6816 83.4268 26.0068 83.4268 26.3936C83.4268 26.7803 83.2949 27.1084 83.0312 27.3779C82.7676 27.6416 82.4336 27.7734 82.0293 27.7734ZM91.6867 36V33.5654H85.4816V31.7109C85.8098 31.1367 86.1437 30.5654 86.4836 29.9971C86.8234 29.4229 87.1662 28.8516 87.5119 28.2832C87.8635 27.709 88.2121 27.1436 88.5578 26.5869C88.9094 26.0244 89.258 25.4707 89.6037 24.9258C89.9553 24.3809 90.3039 23.8447 90.6496 23.3174H93.8488V31.6934H95.5627V33.5654H93.8488V36H91.6867ZM87.5822 31.7461H91.7219V25.1279H91.5988C91.3352 25.5264 91.0656 25.9365 90.7902 26.3584C90.5207 26.7803 90.2482 27.2109 89.9729 27.6504C89.6975 28.0898 89.4221 28.5322 89.1467 28.9775C88.8771 29.4229 88.6105 29.8682 88.3469 30.3135C88.0832 30.7529 87.8283 31.1895 87.5822 31.623V31.7461ZM100.351 36V25.5498H100.202L97.0463 27.7734V25.6465L100.36 23.3174H102.61V36H100.351Z"
          fill="black"
        />
        <rect
          x="152.5"
          y="11.33"
          width="125"
          height="36.67"
          rx="18.335"
          fill="black"
        />
      </svg>

      <svg
        onclick="window.history.back()"
        class="back"
        width="12"
        height="21"
        viewBox="0 0 12 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        id="back"
      >
        <path
          d="M10.5304 1.49811L1.50391 10.5246L10.5304 19.551"
          stroke="black"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>

      <div class="navbar" id="navbar">
        <svg
          onclick="window.location.href='/'"
          width="23"
          height="22"
          viewBox="0 0 23 22"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M14.8979 21.7754V16.4018C14.8979 15.5466 14.5582 14.7266 13.9536 14.1219C13.3489 13.5173 12.5288 13.1776 11.6737 13.1776C10.8186 13.1776 9.99852 13.5173 9.39387 14.1219C8.78921 14.7266 8.44952 15.5466 8.44952 16.4018V21.7754H3.07586C2.50578 21.7754 1.95906 21.549 1.55596 21.1459C1.15285 20.7428 0.926392 20.196 0.926392 19.626V7.94576C0.926388 7.57458 1.02251 7.20972 1.20538 6.88672C1.38826 6.56371 1.65167 6.29357 1.96996 6.1026L10.5678 0.943878C10.9019 0.743438 11.2841 0.637558 11.6737 0.637558C12.0633 0.637558 12.4456 0.743438 12.7796 0.943878L21.3775 6.1026C21.6958 6.29357 21.9592 6.56371 22.1421 6.88672C22.3249 7.20972 22.4211 7.57458 22.421 7.94576V19.626C22.421 20.196 22.1946 20.7428 21.7915 21.1459C21.3884 21.549 20.8417 21.7754 20.2716 21.7754H14.8979Z"
            fill="black"
          />
        </svg>

        <svg
          onclick="window.location.href = '/job'"
          width="28"
          height="21"
          viewBox="0 0 28 21"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M27.6671 6.66318H0.798767V4.06591C0.798767 3.03265 1.22338 2.04171 1.9792 1.31109C2.73502 0.580466 3.76013 0.170006 4.82902 0.170006L23.6368 0.170006C24.7057 0.170006 25.7308 0.580466 26.4867 1.31109C27.2425 2.04171 27.6671 3.03265 27.6671 4.06591V6.66318ZM27.6671 9.26046V17.0523C27.6671 18.0855 27.2425 19.0765 26.4867 19.8071C25.7308 20.5377 24.7057 20.9482 23.6368 20.9482H4.82902C3.76013 20.9482 2.73502 20.5377 1.9792 19.8071C1.22338 19.0765 0.798767 18.0855 0.798767 17.0523L0.798767 9.26046H9.02853C9.32736 10.375 10.0006 11.3621 10.9425 12.0667C11.8845 12.7714 13.0419 13.1537 14.2329 13.1537C15.424 13.1537 16.5813 12.7714 17.5233 12.0667C18.4653 11.3621 19.1385 10.375 19.4373 9.26046H27.6671Z"
            fill="black"
            fill-opacity="0.4"
          />
        </svg>

        <svg
          onclick="window.location.href='/events'"
          width="26"
          height="23"
          viewBox="0 0 26 23"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4.16464 3.6366V6.05475C4.16464 6.69608 4.42885 7.31115 4.89913 7.76464C5.36942 8.21813 6.00727 8.4729 6.67235 8.4729C7.33744 8.4729 7.97528 8.21813 8.44557 7.76464C8.91586 7.31115 9.18006 6.69608 9.18006 6.05475V3.6366H16.7032V6.05475C16.7032 6.69608 16.9674 7.31115 17.4377 7.76464C17.908 8.21813 18.5458 8.4729 19.2109 8.4729C19.876 8.4729 20.5138 8.21813 20.9841 7.76464C21.4544 7.31115 21.7186 6.69608 21.7186 6.05475V3.6366C22.7162 3.6366 23.673 4.01875 24.3784 4.69899C25.0839 5.37923 25.4802 6.30182 25.4802 7.26382V9.68197H0.403076V7.26382C0.403076 6.30182 0.799383 5.37923 1.50481 4.69899C2.21024 4.01875 3.16701 3.6366 4.16464 3.6366ZM25.4802 12.1001V19.3546C25.4802 20.3166 25.0839 21.2392 24.3784 21.9194C23.673 22.5996 22.7162 22.9818 21.7186 22.9818H4.16464C3.16701 22.9818 2.21024 22.5996 1.50481 21.9194C0.799383 21.2392 0.403076 20.3166 0.403076 19.3546L0.403076 12.1001H25.4802ZM19.2109 0.00937653C19.5434 0.00937653 19.8624 0.136761 20.0975 0.363506C20.3327 0.590252 20.4648 0.897785 20.4648 1.21845V6.05475C20.4648 6.37542 20.3327 6.68295 20.0975 6.90969C19.8624 7.13644 19.5434 7.26382 19.2109 7.26382C18.8784 7.26382 18.5594 7.13644 18.3243 6.90969C18.0891 6.68295 17.957 6.37542 17.957 6.05475V1.21845C17.957 0.897785 18.0891 0.590252 18.3243 0.363506C18.5594 0.136761 18.8784 0.00937653 19.2109 0.00937653ZM6.67235 0.00937653C7.00489 0.00937653 7.32382 0.136761 7.55896 0.363506C7.7941 0.590252 7.92621 0.897785 7.92621 1.21845V6.05475C7.92621 6.37542 7.7941 6.68295 7.55896 6.90969C7.32382 7.13644 7.00489 7.26382 6.67235 7.26382C6.33981 7.26382 6.02089 7.13644 5.78574 6.90969C5.5506 6.68295 5.4185 6.37542 5.4185 6.05475V1.21845C5.4185 0.897785 5.5506 0.590252 5.78574 0.363506C6.02089 0.136761 6.33981 0.00937653 6.67235 0.00937653Z"
            fill="black"
            fill-opacity="0.4"
          />
        </svg>

        <svg
          onclick="window.location.href='/profile'"
          width="21"
          height="24"
          viewBox="0 0 21 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.529297 19.0561C0.529297 15.7255 3.22931 13.0255 6.55995 13.0255H14.1924C17.523 13.0255 20.223 15.7255 20.223 19.0561V21.9159C20.223 22.6399 19.6361 23.2269 18.912 23.2269H1.84031C1.11626 23.2269 0.529297 22.6399 0.529297 21.9159V19.0561Z"
            fill="black"
            fill-opacity="0.4"
          />
          <circle
            cx="10.376"
            cy="5.47015"
            r="5.46076"
            fill="black"
            fill-opacity="0.4"
          />
        </svg>
      </div>
      <h1 class="heading" id="heading">KYC</h1>
      <p class="subtext">Know Your Customer</p>
      <form action="" method="POST">
        <div class="inputContainer">
          <svg
            width="13"
            height="12"
            viewBox="0 0 13 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.256 12L3.744 8.576L3.504 8.384L0.48 4.48H1.872L4.208 7.552L4.432 7.744L7.632 12H6.256ZM0.352 12L3.52 7.872L4.144 8.704L1.68 12H0.352ZM4.512 8.368L3.872 7.552L6.176 4.48H7.504L4.512 8.368ZM8.15417 6L10.2982 3.808C10.5755 3.53067 10.7568 3.312 10.8422 3.152C10.9382 2.98133 10.9862 2.80533 10.9862 2.624C10.9862 2.368 10.9008 2.16533 10.7302 2.016C10.5702 1.856 10.3462 1.776 10.0582 1.776C9.81284 1.776 9.59417 1.84 9.40217 1.968C9.21017 2.096 9.0235 2.29333 8.84217 2.56L8.17017 1.952C8.39417 1.6 8.6715 1.33867 9.00217 1.168C9.3435 0.986666 9.72217 0.896 10.1382 0.896C10.7035 0.896 11.1515 1.05067 11.4822 1.36C11.8128 1.65867 11.9782 2.07467 11.9782 2.608C11.9782 2.928 11.9088 3.22133 11.7702 3.488C11.6315 3.744 11.3808 4.05333 11.0182 4.416L9.40217 6.016L8.15417 6ZM8.15417 6.56V6L8.98617 5.712H12.1062V6.56H8.15417Z"
              fill="black"
              fill-opacity="0.7"
            />
          </svg>
          <input
            type="number"
            name="landSize"
            placeholder="Enter land area in hectares"
            autocomplete="off"
          />
        </div>
        <div class="inputContainer">
          <svg
            width="17"
            height="16"
            viewBox="0 0 17 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.141 13.141C11.8071 14.4745 9.99821 15.2238 8.11204 15.2241C4.21037 15.2241 1 12.0137 1 8.11204C1 4.21037 4.21037 1 8.11204 1C12.0137 1 15.2241 4.21037 15.2241 8.11204"
              stroke="black"
              stroke-opacity="0.7"
              stroke-miterlimit="10"
            />
            <path
              d="M13.7386 6.57227H16.7093C16.7609 6.57208 16.8118 6.58564 16.8565 6.61156C16.9012 6.63748 16.9383 6.67482 16.9638 6.71976C16.9893 6.7647 17.0025 6.81562 17.0019 6.86731C17.0013 6.919 16.9869 6.9696 16.9603 7.01393L15.4746 9.50954C15.4488 9.55318 15.4121 9.58935 15.3681 9.61448C15.3241 9.6396 15.2742 9.65281 15.2236 9.65281C15.1729 9.65281 15.123 9.6396 15.079 9.61448C15.035 9.58935 14.9983 9.55318 14.9725 9.50954L13.4868 7.01393C13.4606 6.96947 13.4467 6.9189 13.4463 6.86732C13.4459 6.81574 13.4592 6.76498 13.4847 6.72017C13.5103 6.67536 13.5472 6.63809 13.5918 6.61212C13.6363 6.58614 13.687 6.5724 13.7386 6.57227Z"
              fill="black"
              fill-opacity="0.7"
            />
            <path
              d="M13.141 13.141C11.8071 14.4745 9.99821 15.2238 8.11204 15.2241C4.21037 15.2241 1 12.0137 1 8.11204C1 4.21037 4.21037 1 8.11204 1C12.0137 1 15.2241 4.21037 15.2241 8.11204"
              stroke="black"
              stroke-opacity="0.7"
              stroke-miterlimit="10"
            />
            <path
              d="M13.7386 6.57227H16.7093C16.7609 6.57208 16.8118 6.58564 16.8565 6.61156C16.9012 6.63748 16.9383 6.67482 16.9638 6.71976C16.9893 6.7647 17.0025 6.81562 17.0019 6.86731C17.0013 6.919 16.9869 6.9696 16.9603 7.01393L15.4746 9.50954C15.4488 9.55318 15.4121 9.58935 15.3681 9.61448C15.3241 9.6396 15.2742 9.65281 15.2236 9.65281C15.1729 9.65281 15.123 9.6396 15.079 9.61448C15.035 9.58935 14.9983 9.55318 14.9725 9.50954L13.4868 7.01393C13.4606 6.96947 13.4467 6.9189 13.4463 6.86732C13.4459 6.81574 13.4592 6.76498 13.4847 6.72017C13.5103 6.67536 13.5472 6.63809 13.5918 6.61212C13.6363 6.58614 13.687 6.5724 13.7386 6.57227Z"
              fill="black"
              fill-opacity="0.7"
            />
          </svg>
          <input
            type="number"
            name="age"
            placeholder="Enter your age"
            autocomplete="off"
            max="118"
          />
        </div>
        <label class="uploadContainer" for="aadharDocument">
          <svg
            width="322"
            height="132"
            viewBox="0 0 322 132"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="uploadImage"
          >
            <rect
              x="1.05078"
              y="1.46667"
              width="319.899"
              height="129.74"
              rx="15.5"
              stroke="black"
              stroke-opacity="0.43"
              stroke-dasharray="10 10"
            />
            <path
              d="M109.878 95.987C109.208 95.987 108.607 95.839 108.076 95.5432C107.554 95.2386 107.141 94.8253 106.836 94.3031C106.532 93.7723 106.38 93.1719 106.38 92.5018V86.7977H107.607V92.4757C107.607 92.9543 107.707 93.3677 107.907 93.7158C108.107 94.0638 108.377 94.3336 108.716 94.525C109.064 94.7165 109.451 94.8122 109.878 94.8122C110.322 94.8122 110.709 94.7165 111.039 94.525C111.379 94.3336 111.644 94.0638 111.836 93.7158C112.036 93.3677 112.136 92.9587 112.136 92.4888V86.7977H113.376V92.5149C113.376 93.1849 113.224 93.781 112.919 94.3031C112.615 94.8253 112.201 95.2386 111.679 95.5432C111.157 95.839 110.557 95.987 109.878 95.987ZM117.978 95.987C117.508 95.987 117.082 95.8913 116.699 95.6998C116.325 95.4997 116.025 95.2256 115.799 94.8775C115.572 94.5294 115.446 94.1335 115.42 93.6897V91.8231C115.446 91.3706 115.572 90.9746 115.799 90.6353C116.033 90.2872 116.338 90.0174 116.712 89.826C117.095 89.6258 117.517 89.5258 117.978 89.5258C118.544 89.5258 119.053 89.6693 119.506 89.9565C119.967 90.2437 120.328 90.6309 120.589 91.1182C120.85 91.6055 120.981 92.1538 120.981 92.7629C120.981 93.372 120.85 93.9203 120.589 94.4076C120.328 94.8949 119.967 95.2821 119.506 95.5693C119.053 95.8477 118.544 95.987 117.978 95.987ZM117.783 94.8775C118.174 94.8775 118.518 94.7861 118.814 94.6034C119.11 94.4206 119.345 94.1726 119.519 93.8593C119.693 93.5374 119.78 93.1675 119.78 92.7498C119.78 92.3409 119.693 91.9754 119.519 91.6534C119.345 91.3314 119.11 91.0834 118.814 90.9094C118.518 90.7266 118.178 90.6353 117.796 90.6353C117.404 90.6353 117.06 90.7266 116.764 90.9094C116.469 91.0834 116.238 91.3314 116.073 91.6534C115.907 91.9754 115.825 92.3452 115.825 92.7629C115.825 93.1719 115.903 93.5374 116.06 93.8593C116.225 94.1726 116.456 94.4206 116.751 94.6034C117.056 94.7861 117.4 94.8775 117.783 94.8775ZM114.715 98.454V89.6563H115.89V91.2879L115.668 92.789L115.89 94.3031V98.454H114.715ZM121.842 95.8564V86.5366H123.017V95.8564H121.842ZM127.098 95.987C126.489 95.987 125.941 95.8434 125.453 95.5562C124.966 95.2691 124.579 94.8818 124.292 94.3945C124.004 93.8985 123.861 93.3459 123.861 92.7368C123.861 92.1364 124.004 91.5968 124.292 91.1182C124.579 90.6309 124.966 90.2437 125.453 89.9565C125.941 89.6693 126.489 89.5258 127.098 89.5258C127.698 89.5258 128.242 89.6693 128.73 89.9565C129.226 90.235 129.617 90.6179 129.904 91.1052C130.192 91.5925 130.335 92.1364 130.335 92.7368C130.335 93.3459 130.192 93.8985 129.904 94.3945C129.617 94.8818 129.226 95.2691 128.73 95.5562C128.242 95.8434 127.698 95.987 127.098 95.987ZM127.098 94.8514C127.49 94.8514 127.838 94.76 128.142 94.5773C128.447 94.3945 128.686 94.1465 128.86 93.8332C129.034 93.5113 129.121 93.1458 129.121 92.7368C129.121 92.3365 129.03 91.9797 128.847 91.6664C128.673 91.3532 128.434 91.1095 128.129 90.9355C127.833 90.7527 127.49 90.6614 127.098 90.6614C126.706 90.6614 126.358 90.7527 126.054 90.9355C125.749 91.1095 125.51 91.3532 125.336 91.6664C125.162 91.9797 125.075 92.3365 125.075 92.7368C125.075 93.1458 125.162 93.5113 125.336 93.8332C125.51 94.1465 125.749 94.3945 126.054 94.5773C126.358 94.76 126.706 94.8514 127.098 94.8514ZM133.825 95.987C133.26 95.987 132.746 95.8477 132.285 95.5693C131.824 95.2821 131.458 94.8949 131.189 94.4076C130.928 93.9203 130.797 93.372 130.797 92.7629C130.797 92.1538 130.928 91.6055 131.189 91.1182C131.458 90.6309 131.819 90.2437 132.272 89.9565C132.733 89.6693 133.251 89.5258 133.825 89.5258C134.295 89.5258 134.713 89.6258 135.078 89.826C135.453 90.0174 135.753 90.2872 135.979 90.6353C136.205 90.9746 136.331 91.3706 136.358 91.8231V93.6897C136.331 94.1335 136.205 94.5294 135.979 94.8775C135.761 95.2256 135.466 95.4997 135.091 95.6998C134.726 95.8913 134.304 95.987 133.825 95.987ZM134.021 94.8775C134.604 94.8775 135.074 94.6817 135.431 94.2901C135.788 93.8898 135.966 93.3807 135.966 92.7629C135.966 92.3365 135.883 91.9667 135.718 91.6534C135.561 91.3314 135.335 91.0834 135.039 90.9094C134.743 90.7266 134.4 90.6353 134.008 90.6353C133.616 90.6353 133.268 90.7266 132.964 90.9094C132.668 91.0921 132.433 91.3445 132.259 91.6664C132.094 91.9797 132.011 92.3409 132.011 92.7498C132.011 93.1675 132.094 93.5374 132.259 93.8593C132.433 94.1726 132.672 94.4206 132.977 94.6034C133.281 94.7861 133.629 94.8775 134.021 94.8775ZM135.888 95.8564V94.1857L136.11 92.6715L135.888 91.1704V89.6563H137.075V95.8564H135.888ZM140.939 95.987C140.365 95.987 139.851 95.8477 139.399 95.5693C138.946 95.2821 138.585 94.8949 138.316 94.4076C138.055 93.9203 137.924 93.372 137.924 92.7629C137.924 92.1538 138.055 91.6055 138.316 91.1182C138.585 90.6309 138.946 90.2437 139.399 89.9565C139.851 89.6693 140.365 89.5258 140.939 89.5258C141.4 89.5258 141.818 89.6258 142.192 89.826C142.566 90.0174 142.867 90.2872 143.093 90.6353C143.328 90.9746 143.458 91.3706 143.485 91.8231V93.6897C143.458 94.1335 143.332 94.5294 143.106 94.8775C142.88 95.2256 142.58 95.4997 142.205 95.6998C141.831 95.8913 141.409 95.987 140.939 95.987ZM141.135 94.8775C141.527 94.8775 141.866 94.7861 142.153 94.6034C142.449 94.4206 142.68 94.1726 142.845 93.8593C143.01 93.5374 143.093 93.1719 143.093 92.7629C143.093 92.3365 143.006 91.9667 142.832 91.6534C142.667 91.3401 142.436 91.0921 142.14 90.9094C141.853 90.7266 141.514 90.6353 141.122 90.6353C140.73 90.6353 140.387 90.7266 140.091 90.9094C139.795 91.0921 139.56 91.3445 139.386 91.6664C139.221 91.9797 139.138 92.3409 139.138 92.7498C139.138 93.1675 139.221 93.5374 139.386 93.8593C139.56 94.1726 139.795 94.4206 140.091 94.6034C140.395 94.7861 140.743 94.8775 141.135 94.8775ZM144.202 95.8564H143.015V94.1857L143.237 92.6715L143.015 91.1704V86.5366H144.202V95.8564ZM146.861 95.8564L150.568 86.7977H151.456L155.15 95.8564H153.818L150.777 88.1944H151.234L148.166 95.8564H146.861ZM148.623 93.8071V92.7368H153.387V93.8071H148.623ZM158.178 95.987C157.612 95.987 157.099 95.8477 156.638 95.5693C156.176 95.2821 155.811 94.8949 155.541 94.4076C155.28 93.9203 155.15 93.372 155.15 92.7629C155.15 92.1538 155.28 91.6055 155.541 91.1182C155.811 90.6309 156.172 90.2437 156.625 89.9565C157.086 89.6693 157.603 89.5258 158.178 89.5258C158.648 89.5258 159.065 89.6258 159.431 89.826C159.805 90.0174 160.105 90.2872 160.332 90.6353C160.558 90.9746 160.684 91.3706 160.71 91.8231V93.6897C160.684 94.1335 160.558 94.5294 160.332 94.8775C160.114 95.2256 159.818 95.4997 159.444 95.6998C159.078 95.8913 158.656 95.987 158.178 95.987ZM158.374 94.8775C158.957 94.8775 159.427 94.6817 159.783 94.2901C160.14 93.8898 160.319 93.3807 160.319 92.7629C160.319 92.3365 160.236 91.9667 160.07 91.6534C159.914 91.3314 159.688 91.0834 159.392 90.9094C159.096 90.7266 158.752 90.6353 158.361 90.6353C157.969 90.6353 157.621 90.7266 157.316 90.9094C157.02 91.0921 156.786 91.3445 156.611 91.6664C156.446 91.9797 156.363 92.3409 156.363 92.7498C156.363 93.1675 156.446 93.5374 156.611 93.8593C156.786 94.1726 157.025 94.4206 157.329 94.6034C157.634 94.7861 157.982 94.8775 158.374 94.8775ZM160.24 95.8564V94.1857L160.462 92.6715L160.24 91.1704V89.6563H161.428V95.8564H160.24ZM165.292 95.987C164.717 95.987 164.204 95.8477 163.752 95.5693C163.299 95.2821 162.938 94.8949 162.668 94.4076C162.407 93.9203 162.277 93.372 162.277 92.7629C162.277 92.1538 162.407 91.6055 162.668 91.1182C162.938 90.6309 163.299 90.2437 163.752 89.9565C164.204 89.6693 164.717 89.5258 165.292 89.5258C165.753 89.5258 166.171 89.6258 166.545 89.826C166.919 90.0174 167.219 90.2872 167.446 90.6353C167.68 90.9746 167.811 91.3706 167.837 91.8231V93.6897C167.811 94.1335 167.685 94.5294 167.459 94.8775C167.232 95.2256 166.932 95.4997 166.558 95.6998C166.184 95.8913 165.762 95.987 165.292 95.987ZM165.488 94.8775C165.879 94.8775 166.219 94.7861 166.506 94.6034C166.802 94.4206 167.032 94.1726 167.198 93.8593C167.363 93.5374 167.446 93.1719 167.446 92.7629C167.446 92.3365 167.359 91.9667 167.184 91.6534C167.019 91.3401 166.789 91.0921 166.493 90.9094C166.205 90.7266 165.866 90.6353 165.475 90.6353C165.083 90.6353 164.739 90.7266 164.443 90.9094C164.147 91.0921 163.913 91.3445 163.738 91.6664C163.573 91.9797 163.49 92.3409 163.49 92.7498C163.49 93.1675 163.573 93.5374 163.738 93.8593C163.913 94.1726 164.147 94.4206 164.443 94.6034C164.748 94.7861 165.096 94.8775 165.488 94.8775ZM168.555 95.8564H167.367V94.1857L167.589 92.6715L167.367 91.1704V86.5366H168.555V95.8564ZM174.181 95.8564V92.2408C174.181 91.7709 174.033 91.3836 173.737 91.0791C173.441 90.7745 173.058 90.6222 172.588 90.6222C172.275 90.6222 171.997 90.6918 171.753 90.8311C171.509 90.9703 171.318 91.1617 171.179 91.4054C171.04 91.649 170.97 91.9275 170.97 92.2408L170.487 91.9667C170.487 91.4968 170.591 91.0791 170.8 90.7136C171.009 90.3481 171.301 90.0609 171.675 89.8521C172.049 89.6345 172.471 89.5258 172.941 89.5258C173.411 89.5258 173.824 89.6302 174.181 89.839C174.546 90.0479 174.834 90.3394 175.042 90.7136C175.251 91.0878 175.356 91.5185 175.356 92.0058V95.8564H174.181ZM169.795 95.8564V86.5366H170.97V95.8564H169.795ZM179.113 95.987C178.547 95.987 178.034 95.8477 177.572 95.5693C177.111 95.2821 176.746 94.8949 176.476 94.4076C176.215 93.9203 176.084 93.372 176.084 92.7629C176.084 92.1538 176.215 91.6055 176.476 91.1182C176.746 90.6309 177.107 90.2437 177.559 89.9565C178.021 89.6693 178.538 89.5258 179.113 89.5258C179.583 89.5258 180 89.6258 180.366 89.826C180.74 90.0174 181.04 90.2872 181.266 90.6353C181.493 90.9746 181.619 91.3706 181.645 91.8231V93.6897C181.619 94.1335 181.493 94.5294 181.266 94.8775C181.049 95.2256 180.753 95.4997 180.379 95.6998C180.013 95.8913 179.591 95.987 179.113 95.987ZM179.309 94.8775C179.892 94.8775 180.361 94.6817 180.718 94.2901C181.075 93.8898 181.253 93.3807 181.253 92.7629C181.253 92.3365 181.171 91.9667 181.005 91.6534C180.849 91.3314 180.623 91.0834 180.327 90.9094C180.031 90.7266 179.687 90.6353 179.295 90.6353C178.904 90.6353 178.556 90.7266 178.251 90.9094C177.955 91.0921 177.72 91.3445 177.546 91.6664C177.381 91.9797 177.298 92.3409 177.298 92.7498C177.298 93.1675 177.381 93.5374 177.546 93.8593C177.72 94.1726 177.96 94.4206 178.264 94.6034C178.569 94.7861 178.917 94.8775 179.309 94.8775ZM181.175 95.8564V94.1857L181.397 92.6715L181.175 91.1704V89.6563H182.363V95.8564H181.175ZM183.603 95.8564V89.6563H184.778V95.8564H183.603ZM184.778 92.3191L184.334 92.1233C184.334 91.3314 184.517 90.7005 184.882 90.2306C185.248 89.7607 185.774 89.5258 186.462 89.5258C186.775 89.5258 187.058 89.5823 187.31 89.6955C187.562 89.7999 187.797 89.9783 188.015 90.2306L187.245 91.0269C187.114 90.8876 186.971 90.7875 186.814 90.7266C186.657 90.6657 186.475 90.6353 186.266 90.6353C185.831 90.6353 185.474 90.7745 185.196 91.053C184.917 91.3314 184.778 91.7535 184.778 92.3191ZM195.167 95.987C194.514 95.987 193.909 95.8695 193.352 95.6345C192.795 95.3909 192.308 95.0559 191.89 94.6295C191.481 94.2031 191.164 93.7071 190.938 93.1414C190.711 92.5758 190.598 91.971 190.598 91.3271C190.598 90.6744 190.711 90.0653 190.938 89.4997C191.164 88.934 191.481 88.4424 191.89 88.0247C192.308 87.5983 192.791 87.2676 193.339 87.0327C193.896 86.789 194.501 86.6672 195.154 86.6672C195.867 86.6672 196.494 86.789 197.033 87.0327C197.573 87.2763 198.051 87.607 198.469 88.0247L197.621 88.8731C197.334 88.5511 196.981 88.2988 196.563 88.116C196.154 87.9333 195.685 87.8419 195.154 87.8419C194.675 87.8419 194.236 87.929 193.835 88.103C193.435 88.2683 193.087 88.5076 192.791 88.8209C192.495 89.1342 192.265 89.504 192.099 89.9304C191.943 90.3568 191.864 90.8224 191.864 91.3271C191.864 91.8318 191.943 92.2973 192.099 92.7237C192.265 93.1501 192.495 93.52 192.791 93.8332C193.087 94.1465 193.435 94.3902 193.835 94.5642C194.236 94.7295 194.675 94.8122 195.154 94.8122C195.719 94.8122 196.211 94.7208 196.629 94.5381C197.046 94.3467 197.399 94.0899 197.686 93.768L198.534 94.6034C198.117 95.0385 197.625 95.3778 197.059 95.6215C196.503 95.8651 195.872 95.987 195.167 95.987ZM201.795 95.987C201.23 95.987 200.716 95.8477 200.255 95.5693C199.794 95.2821 199.428 94.8949 199.159 94.4076C198.898 93.9203 198.767 93.372 198.767 92.7629C198.767 92.1538 198.898 91.6055 199.159 91.1182C199.428 90.6309 199.79 90.2437 200.242 89.9565C200.703 89.6693 201.221 89.5258 201.795 89.5258C202.265 89.5258 202.683 89.6258 203.049 89.826C203.423 90.0174 203.723 90.2872 203.949 90.6353C204.175 90.9746 204.302 91.3706 204.328 91.8231V93.6897C204.302 94.1335 204.175 94.5294 203.949 94.8775C203.732 95.2256 203.436 95.4997 203.062 95.6998C202.696 95.8913 202.274 95.987 201.795 95.987ZM201.991 94.8775C202.574 94.8775 203.044 94.6817 203.401 94.2901C203.758 93.8898 203.936 93.3807 203.936 92.7629C203.936 92.3365 203.853 91.9667 203.688 91.6534C203.531 91.3314 203.305 91.0834 203.009 90.9094C202.713 90.7266 202.37 90.6353 201.978 90.6353C201.587 90.6353 201.238 90.7266 200.934 90.9094C200.638 91.0921 200.403 91.3445 200.229 91.6664C200.064 91.9797 199.981 92.3409 199.981 92.7498C199.981 93.1675 200.064 93.5374 200.229 93.8593C200.403 94.1726 200.642 94.4206 200.947 94.6034C201.252 94.7861 201.6 94.8775 201.991 94.8775ZM203.858 95.8564V94.1857L204.08 92.6715L203.858 91.1704V89.6563H205.046V95.8564H203.858ZM206.286 95.8564V89.6563H207.461V95.8564H206.286ZM207.461 92.3191L207.017 92.1233C207.017 91.3314 207.199 90.7005 207.565 90.2306C207.93 89.7607 208.457 89.5258 209.144 89.5258C209.458 89.5258 209.74 89.5823 209.993 89.6955C210.245 89.7999 210.48 89.9783 210.698 90.2306L209.928 91.0269C209.797 90.8876 209.653 90.7875 209.497 90.7266C209.34 90.6657 209.157 90.6353 208.949 90.6353C208.513 90.6353 208.157 90.7745 207.878 91.053C207.6 91.3314 207.461 91.7535 207.461 92.3191ZM213.474 95.987C212.9 95.987 212.387 95.8477 211.934 95.5693C211.482 95.2821 211.12 94.8949 210.851 94.4076C210.59 93.9203 210.459 93.372 210.459 92.7629C210.459 92.1538 210.59 91.6055 210.851 91.1182C211.12 90.6309 211.482 90.2437 211.934 89.9565C212.387 89.6693 212.9 89.5258 213.474 89.5258C213.935 89.5258 214.353 89.6258 214.727 89.826C215.102 90.0174 215.402 90.2872 215.628 90.6353C215.863 90.9746 215.993 91.3706 216.02 91.8231V93.6897C215.993 94.1335 215.867 94.5294 215.641 94.8775C215.415 95.2256 215.115 95.4997 214.74 95.6998C214.366 95.8913 213.944 95.987 213.474 95.987ZM213.67 94.8775C214.062 94.8775 214.401 94.7861 214.688 94.6034C214.984 94.4206 215.215 94.1726 215.38 93.8593C215.545 93.5374 215.628 93.1719 215.628 92.7629C215.628 92.3365 215.541 91.9667 215.367 91.6534C215.202 91.3401 214.971 91.0921 214.675 90.9094C214.388 90.7266 214.049 90.6353 213.657 90.6353C213.265 90.6353 212.922 90.7266 212.626 90.9094C212.33 91.0921 212.095 91.3445 211.921 91.6664C211.756 91.9797 211.673 92.3409 211.673 92.7498C211.673 93.1675 211.756 93.5374 211.921 93.8593C212.095 94.1726 212.33 94.4206 212.626 94.6034C212.93 94.7861 213.278 94.8775 213.67 94.8775ZM216.738 95.8564H215.55V94.1857L215.772 92.6715L215.55 91.1704V86.5366H216.738V95.8564Z"
              fill="black"
              fill-opacity="0.7"
            />
            <path
              d="M152.789 72.8857H179.378C183.404 72.8857 186.668 69.6218 186.668 65.5955V60.0478M152.789 72.8857H142.563C138.537 72.8857 135.273 69.6218 135.273 65.5955V41.7861C135.273 37.7599 138.537 34.4959 142.563 34.4959H179.378C183.404 34.4959 186.668 37.7599 186.668 41.7861V60.0478M152.789 72.8857L165.348 51.775C167.763 47.7155 173.342 46.9894 176.716 50.2954L186.668 60.0478"
              stroke="black"
              stroke-opacity="0.7"
              stroke-width="2.91606"
            />
            <circle
              cx="149.906"
              cy="47.9365"
              r="6.93455"
              stroke="black"
              stroke-opacity="0.7"
              stroke-width="2.91606"
            />
          </svg>
        </label>
        <input
          type="file"
          style="opacity: 0; position: absolute; z-index: -1"
          name="aadharDocument"
          id="aadharDocument"
          accept=".pdf"
        />
        <!-- aadhar preview (shows green dot + filename) -->
        <div id="aadharPreview" class="filePreview" aria-hidden="true">
          <span class="fileName">No file selected</span>
        </div>
        <label class="uploadContainer" for="landDocument">
          <svg
            width="322"
            height="132"
            viewBox="0 0 322 132"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="uploadImage"
          >
            <rect
              x="1.05078"
              y="1.3197"
              width="319.899"
              height="129.74"
              rx="15.5"
              stroke="black"
              stroke-opacity="0.43"
              stroke-dasharray="10 10"
            />
            <path
              d="M99.4804 95.84C98.8104 95.84 98.2099 95.6921 97.6791 95.3962C97.157 95.0916 96.7436 94.6783 96.4391 94.1562C96.1345 93.6254 95.9822 93.0249 95.9822 92.3549V86.6507H97.2092V92.3288C97.2092 92.8074 97.3093 93.2207 97.5094 93.5688C97.7096 93.9169 97.9793 94.1866 98.3187 94.3781C98.6668 94.5695 99.054 94.6652 99.4804 94.6652C99.9242 94.6652 100.311 94.5695 100.642 94.3781C100.982 94.1866 101.247 93.9169 101.438 93.5688C101.639 93.2207 101.739 92.8117 101.739 92.3418V86.6507H102.979V92.3679C102.979 93.038 102.826 93.6341 102.522 94.1562C102.217 94.6783 101.804 95.0916 101.282 95.3962C100.76 95.6921 100.159 95.84 99.4804 95.84ZM107.581 95.84C107.111 95.84 106.685 95.7443 106.302 95.5528C105.928 95.3527 105.627 95.0786 105.401 94.7305C105.175 94.3824 105.049 93.9865 105.023 93.5427V91.6761C105.049 91.2236 105.175 90.8277 105.401 90.4883C105.636 90.1402 105.941 89.8705 106.315 89.679C106.698 89.4789 107.12 89.3788 107.581 89.3788C108.147 89.3788 108.656 89.5224 109.108 89.8095C109.569 90.0967 109.931 90.4839 110.192 90.9713C110.453 91.4586 110.583 92.0068 110.583 92.6159C110.583 93.2251 110.453 93.7733 110.192 94.2606C109.931 94.7479 109.569 95.1351 109.108 95.4223C108.656 95.7008 108.147 95.84 107.581 95.84ZM107.385 94.7305C107.777 94.7305 108.121 94.6391 108.416 94.4564C108.712 94.2736 108.947 94.0256 109.121 93.7124C109.295 93.3904 109.382 93.0206 109.382 92.6029C109.382 92.1939 109.295 91.8284 109.121 91.5064C108.947 91.1844 108.712 90.9364 108.416 90.7624C108.121 90.5797 107.781 90.4883 107.398 90.4883C107.007 90.4883 106.663 90.5797 106.367 90.7624C106.071 90.9364 105.841 91.1844 105.675 91.5064C105.51 91.8284 105.427 92.1982 105.427 92.6159C105.427 93.0249 105.506 93.3904 105.662 93.7124C105.828 94.0256 106.058 94.2736 106.354 94.4564C106.659 94.6391 107.002 94.7305 107.385 94.7305ZM104.318 98.307V89.5093H105.493V91.1409L105.271 92.642L105.493 94.1562V98.307H104.318ZM111.445 95.7095V86.3897H112.62V95.7095H111.445ZM116.701 95.84C116.092 95.84 115.543 95.6964 115.056 95.4093C114.569 95.1221 114.181 94.7349 113.894 94.2475C113.607 93.7515 113.464 93.199 113.464 92.5898C113.464 91.9894 113.607 91.4499 113.894 90.9713C114.181 90.4839 114.569 90.0967 115.056 89.8095C115.543 89.5224 116.092 89.3788 116.701 89.3788C117.301 89.3788 117.845 89.5224 118.332 89.8095C118.828 90.088 119.22 90.4709 119.507 90.9582C119.794 91.4455 119.938 91.9894 119.938 92.5898C119.938 93.199 119.794 93.7515 119.507 94.2475C119.22 94.7349 118.828 95.1221 118.332 95.4093C117.845 95.6964 117.301 95.84 116.701 95.84ZM116.701 94.7044C117.092 94.7044 117.44 94.613 117.745 94.4303C118.049 94.2475 118.289 93.9995 118.463 93.6863C118.637 93.3643 118.724 92.9988 118.724 92.5898C118.724 92.1895 118.632 91.8327 118.45 91.5195C118.276 91.2062 118.036 90.9625 117.732 90.7885C117.436 90.6058 117.092 90.5144 116.701 90.5144C116.309 90.5144 115.961 90.6058 115.656 90.7885C115.352 90.9625 115.113 91.2062 114.938 91.5195C114.764 91.8327 114.677 92.1895 114.677 92.5898C114.677 92.9988 114.764 93.3643 114.938 93.6863C115.113 93.9995 115.352 94.2475 115.656 94.4303C115.961 94.613 116.309 94.7044 116.701 94.7044ZM123.428 95.84C122.862 95.84 122.349 95.7008 121.888 95.4223C121.426 95.1351 121.061 94.7479 120.791 94.2606C120.53 93.7733 120.4 93.2251 120.4 92.6159C120.4 92.0068 120.53 91.4586 120.791 90.9713C121.061 90.4839 121.422 90.0967 121.875 89.8095C122.336 89.5224 122.854 89.3788 123.428 89.3788C123.898 89.3788 124.316 89.4789 124.681 89.679C125.055 89.8705 125.355 90.1402 125.582 90.4883C125.808 90.8277 125.934 91.2236 125.96 91.6761V93.5427C125.934 93.9865 125.808 94.3824 125.582 94.7305C125.364 95.0786 125.068 95.3527 124.694 95.5528C124.329 95.7443 123.907 95.84 123.428 95.84ZM123.624 94.7305C124.207 94.7305 124.677 94.5347 125.033 94.1431C125.39 93.7428 125.569 93.2338 125.569 92.6159C125.569 92.1895 125.486 91.8197 125.321 91.5064C125.164 91.1844 124.938 90.9364 124.642 90.7624C124.346 90.5797 124.002 90.4883 123.611 90.4883C123.219 90.4883 122.871 90.5797 122.566 90.7624C122.271 90.9451 122.036 91.1975 121.862 91.5195C121.696 91.8327 121.614 92.1939 121.614 92.6029C121.614 93.0206 121.696 93.3904 121.862 93.7124C122.036 94.0256 122.275 94.2736 122.579 94.4564C122.884 94.6391 123.232 94.7305 123.624 94.7305ZM125.49 95.7095V94.0387L125.712 92.5246L125.49 91.0235V89.5093H126.678V95.7095H125.49ZM130.542 95.84C129.968 95.84 129.454 95.7008 129.002 95.4223C128.549 95.1351 128.188 94.7479 127.918 94.2606C127.657 93.7733 127.527 93.2251 127.527 92.6159C127.527 92.0068 127.657 91.4586 127.918 90.9713C128.188 90.4839 128.549 90.0967 129.002 89.8095C129.454 89.5224 129.968 89.3788 130.542 89.3788C131.003 89.3788 131.421 89.4789 131.795 89.679C132.169 89.8705 132.469 90.1402 132.696 90.4883C132.931 90.8277 133.061 91.2236 133.087 91.6761V93.5427C133.061 93.9865 132.935 94.3824 132.709 94.7305C132.482 95.0786 132.182 95.3527 131.808 95.5528C131.434 95.7443 131.012 95.84 130.542 95.84ZM130.738 94.7305C131.129 94.7305 131.469 94.6391 131.756 94.4564C132.052 94.2736 132.282 94.0256 132.448 93.7124C132.613 93.3904 132.696 93.0249 132.696 92.6159C132.696 92.1895 132.609 91.8197 132.435 91.5064C132.269 91.1932 132.039 90.9451 131.743 90.7624C131.456 90.5797 131.116 90.4883 130.725 90.4883C130.333 90.4883 129.989 90.5797 129.693 90.7624C129.398 90.9451 129.163 91.1975 128.989 91.5195C128.823 91.8327 128.741 92.1939 128.741 92.6029C128.741 93.0206 128.823 93.3904 128.989 93.7124C129.163 94.0256 129.398 94.2736 129.693 94.4564C129.998 94.6391 130.346 94.7305 130.738 94.7305ZM133.805 95.7095H132.617V94.0387L132.839 92.5246L132.617 91.0235V86.3897H133.805V95.7095ZM137.499 95.7095V86.6507H138.726V95.7095H137.499ZM138.334 95.7095V94.5869H143.19V95.7095H138.334ZM146.404 95.84C145.838 95.84 145.325 95.7008 144.864 95.4223C144.402 95.1351 144.037 94.7479 143.767 94.2606C143.506 93.7733 143.376 93.2251 143.376 92.6159C143.376 92.0068 143.506 91.4586 143.767 90.9713C144.037 90.4839 144.398 90.0967 144.85 89.8095C145.312 89.5224 145.829 89.3788 146.404 89.3788C146.874 89.3788 147.291 89.4789 147.657 89.679C148.031 89.8705 148.331 90.1402 148.558 90.4883C148.784 90.8277 148.91 91.2236 148.936 91.6761V93.5427C148.91 93.9865 148.784 94.3824 148.558 94.7305C148.34 95.0786 148.044 95.3527 147.67 95.5528C147.304 95.7443 146.882 95.84 146.404 95.84ZM146.6 94.7305C147.183 94.7305 147.653 94.5347 148.009 94.1431C148.366 93.7428 148.544 93.2338 148.544 92.6159C148.544 92.1895 148.462 91.8197 148.296 91.5064C148.14 91.1844 147.914 90.9364 147.618 90.7624C147.322 90.5797 146.978 90.4883 146.587 90.4883C146.195 90.4883 145.847 90.5797 145.542 90.7624C145.246 90.9451 145.011 91.1975 144.837 91.5195C144.672 91.8327 144.589 92.1939 144.589 92.6029C144.589 93.0206 144.672 93.3904 144.837 93.7124C145.011 94.0256 145.251 94.2736 145.555 94.4564C145.86 94.6391 146.208 94.7305 146.6 94.7305ZM148.466 95.7095V94.0387L148.688 92.5246L148.466 91.0235V89.5093H149.654V95.7095H148.466ZM155.28 95.7095V92.0938C155.28 91.6239 155.132 91.2367 154.836 90.9321C154.54 90.6275 154.157 90.4752 153.687 90.4752C153.374 90.4752 153.096 90.5449 152.852 90.6841C152.608 90.8233 152.417 91.0148 152.278 91.2584C152.138 91.5021 152.069 91.7805 152.069 92.0938L151.586 91.8197C151.586 91.3498 151.69 90.9321 151.899 90.5666C152.108 90.2011 152.4 89.914 152.774 89.7051C153.148 89.4876 153.57 89.3788 154.04 89.3788C154.51 89.3788 154.923 89.4963 155.28 89.7312C155.645 89.9662 155.933 90.2751 156.141 90.658C156.35 91.0322 156.455 91.4325 156.455 91.8589V95.7095H155.28ZM150.894 95.7095V89.5093H152.069V95.7095H150.894ZM160.199 95.84C159.624 95.84 159.111 95.7008 158.658 95.4223C158.206 95.1351 157.845 94.7479 157.575 94.2606C157.314 93.7733 157.183 93.2251 157.183 92.6159C157.183 92.0068 157.314 91.4586 157.575 90.9713C157.845 90.4839 158.206 90.0967 158.658 89.8095C159.111 89.5224 159.624 89.3788 160.199 89.3788C160.66 89.3788 161.078 89.4789 161.452 89.679C161.826 89.8705 162.126 90.1402 162.352 90.4883C162.587 90.8277 162.718 91.2236 162.744 91.6761V93.5427C162.718 93.9865 162.592 94.3824 162.365 94.7305C162.139 95.0786 161.839 95.3527 161.465 95.5528C161.091 95.7443 160.669 95.84 160.199 95.84ZM160.394 94.7305C160.786 94.7305 161.125 94.6391 161.413 94.4564C161.708 94.2736 161.939 94.0256 162.104 93.7124C162.27 93.3904 162.352 93.0249 162.352 92.6159C162.352 92.1895 162.265 91.8197 162.091 91.5064C161.926 91.1932 161.695 90.9451 161.4 90.7624C161.112 90.5797 160.773 90.4883 160.381 90.4883C159.99 90.4883 159.646 90.5797 159.35 90.7624C159.054 90.9451 158.819 91.1975 158.645 91.5195C158.48 91.8327 158.397 92.1939 158.397 92.6029C158.397 93.0206 158.48 93.3904 158.645 93.7124C158.819 94.0256 159.054 94.2736 159.35 94.4564C159.655 94.6391 160.003 94.7305 160.394 94.7305ZM163.462 95.7095H162.274V94.0387L162.496 92.5246L162.274 91.0235V86.3897H163.462V95.7095ZM167.965 95.7095V94.5869H170.484C171.154 94.5869 171.742 94.4433 172.246 94.1562C172.751 93.8603 173.143 93.4557 173.421 92.9422C173.708 92.4288 173.852 91.8371 173.852 91.167C173.852 90.5057 173.708 89.9183 173.421 89.4049C173.134 88.8915 172.738 88.4912 172.233 88.204C171.729 87.9169 171.146 87.7733 170.484 87.7733H167.978V86.6507H170.51C171.172 86.6507 171.781 86.7639 172.338 86.9901C172.903 87.2164 173.391 87.534 173.8 87.943C174.217 88.352 174.539 88.8306 174.766 89.3788C175.001 89.927 175.118 90.5275 175.118 91.1801C175.118 91.824 175.001 92.4245 174.766 92.9814C174.539 93.5296 174.222 94.0082 173.813 94.4172C173.404 94.8262 172.916 95.1438 172.351 95.3701C171.794 95.5963 171.189 95.7095 170.536 95.7095H167.965ZM167.156 95.7095V86.6507H168.383V95.7095H167.156ZM178.971 95.84C178.362 95.84 177.814 95.6964 177.327 95.4093C176.839 95.1221 176.452 94.7349 176.165 94.2475C175.878 93.7515 175.734 93.199 175.734 92.5898C175.734 91.9894 175.878 91.4499 176.165 90.9713C176.452 90.4839 176.839 90.0967 177.327 89.8095C177.814 89.5224 178.362 89.3788 178.971 89.3788C179.572 89.3788 180.116 89.5224 180.603 89.8095C181.099 90.088 181.491 90.4709 181.778 90.9582C182.065 91.4455 182.209 91.9894 182.209 92.5898C182.209 93.199 182.065 93.7515 181.778 94.2475C181.491 94.7349 181.099 95.1221 180.603 95.4093C180.116 95.6964 179.572 95.84 178.971 95.84ZM178.971 94.7044C179.363 94.7044 179.711 94.613 180.016 94.4303C180.32 94.2475 180.56 93.9995 180.734 93.6863C180.908 93.3643 180.995 92.9988 180.995 92.5898C180.995 92.1895 180.903 91.8327 180.721 91.5195C180.547 91.2062 180.307 90.9625 180.003 90.7885C179.707 90.6058 179.363 90.5144 178.971 90.5144C178.58 90.5144 178.232 90.6058 177.927 90.7885C177.623 90.9625 177.383 91.2062 177.209 91.5195C177.035 91.8327 176.948 92.1895 176.948 92.5898C176.948 92.9988 177.035 93.3643 177.209 93.6863C177.383 93.9995 177.623 94.2475 177.927 94.4303C178.232 94.613 178.58 94.7044 178.971 94.7044ZM185.895 95.84C185.285 95.84 184.733 95.6964 184.237 95.4093C183.749 95.1221 183.362 94.7349 183.075 94.2475C182.797 93.7515 182.657 93.2033 182.657 92.6029C182.657 91.9937 182.797 91.4455 183.075 90.9582C183.362 90.4709 183.749 90.088 184.237 89.8095C184.733 89.5224 185.285 89.3788 185.895 89.3788C186.373 89.3788 186.817 89.4702 187.226 89.6529C187.635 89.8269 187.987 90.0837 188.283 90.423L187.5 91.2062C187.309 90.98 187.074 90.8103 186.795 90.6971C186.525 90.5753 186.225 90.5144 185.895 90.5144C185.503 90.5144 185.155 90.6058 184.85 90.7885C184.546 90.9625 184.306 91.2062 184.132 91.5195C183.958 91.8327 183.871 92.1939 183.871 92.6029C183.871 93.0119 183.958 93.373 184.132 93.6863C184.306 93.9995 184.546 94.2475 184.85 94.4303C185.155 94.613 185.503 94.7044 185.895 94.7044C186.225 94.7044 186.525 94.6478 186.795 94.5347C187.074 94.4129 187.313 94.2388 187.513 94.0126L188.283 94.7958C187.996 95.1264 187.644 95.3831 187.226 95.5659C186.817 95.7486 186.373 95.84 185.895 95.84ZM191.484 95.84C190.971 95.84 190.51 95.7269 190.101 95.5006C189.7 95.2657 189.387 94.9437 189.161 94.5347C188.935 94.1257 188.821 93.6515 188.821 93.1119V89.5093H189.996V93.0597C189.996 93.3991 190.053 93.695 190.166 93.9473C190.288 94.191 190.462 94.3781 190.688 94.5086C190.914 94.6391 191.18 94.7044 191.484 94.7044C191.945 94.7044 192.307 94.5608 192.568 94.2736C192.829 93.9778 192.959 93.5731 192.959 93.0597V89.5093H194.134V93.1119C194.134 93.6515 194.021 94.1257 193.795 94.5347C193.568 94.9437 193.255 95.2657 192.855 95.5006C192.463 95.7269 192.006 95.84 191.484 95.84ZM195.238 95.7095V89.5093H196.413V95.7095H195.238ZM199.428 95.7095V91.9633C199.428 91.5021 199.285 91.1409 198.998 90.8799C198.719 90.6101 198.367 90.4752 197.94 90.4752C197.653 90.4752 197.396 90.5362 197.17 90.658C196.944 90.7798 196.761 90.9495 196.622 91.167C196.483 91.3846 196.413 91.6457 196.413 91.9502L195.93 91.7153C195.93 91.2454 196.03 90.8364 196.23 90.4883C196.439 90.1402 196.722 89.8705 197.079 89.679C197.436 89.4789 197.836 89.3788 198.28 89.3788C198.715 89.3788 199.106 89.4745 199.454 89.666C199.811 89.8574 200.09 90.1272 200.29 90.4752C200.499 90.8233 200.603 91.2367 200.603 91.7153V95.7095H199.428ZM203.618 95.7095V91.9633C203.618 91.5021 203.475 91.1409 203.188 90.8799C202.909 90.6101 202.561 90.4752 202.143 90.4752C201.856 90.4752 201.595 90.5362 201.36 90.658C201.134 90.7798 200.951 90.9495 200.812 91.167C200.673 91.3846 200.603 91.6457 200.603 91.9502L199.937 91.7153C199.963 91.2367 200.09 90.8277 200.316 90.4883C200.551 90.1402 200.851 89.8705 201.217 89.679C201.582 89.4789 201.982 89.3788 202.417 89.3788C202.87 89.3788 203.275 89.4745 203.631 89.666C203.988 89.8574 204.271 90.1272 204.48 90.4752C204.697 90.8233 204.806 91.241 204.806 91.7283V95.7095H203.618ZM208.806 95.84C208.188 95.84 207.631 95.7008 207.135 95.4223C206.639 95.1351 206.248 94.7479 205.961 94.2606C205.673 93.7733 205.53 93.2207 205.53 92.6029C205.53 91.9937 205.669 91.4455 205.948 90.9582C206.235 90.4709 206.618 90.088 207.096 89.8095C207.584 89.5224 208.127 89.3788 208.728 89.3788C209.302 89.3788 209.807 89.5093 210.242 89.7704C210.686 90.0314 211.029 90.3926 211.273 90.8538C211.526 91.315 211.652 91.8371 211.652 92.4201C211.652 92.5071 211.647 92.6029 211.639 92.7073C211.63 92.803 211.613 92.9161 211.586 93.0467H206.352V92.0677H210.96L210.529 92.4462C210.529 92.0285 210.455 91.6761 210.307 91.3889C210.159 91.0931 209.95 90.8668 209.681 90.7102C209.411 90.5449 209.085 90.4622 208.702 90.4622C208.301 90.4622 207.949 90.5492 207.644 90.7232C207.34 90.8973 207.105 91.1409 206.94 91.4542C206.774 91.7675 206.692 92.1373 206.692 92.5637C206.692 92.9988 206.779 93.3817 206.953 93.7124C207.127 94.0343 207.375 94.2867 207.697 94.4694C208.019 94.6435 208.388 94.7305 208.806 94.7305C209.154 94.7305 209.472 94.6696 209.759 94.5478C210.055 94.4259 210.307 94.2432 210.516 93.9995L211.273 94.7697C210.977 95.1177 210.612 95.3831 210.177 95.5659C209.75 95.7486 209.293 95.84 208.806 95.84ZM216.848 95.7095V92.0938C216.848 91.6239 216.7 91.2367 216.404 90.9321C216.109 90.6275 215.726 90.4752 215.256 90.4752C214.942 90.4752 214.664 90.5449 214.42 90.6841C214.177 90.8233 213.985 91.0148 213.846 91.2584C213.707 91.5021 213.637 91.7805 213.637 92.0938L213.154 91.8197C213.154 91.3498 213.259 90.9321 213.467 90.5666C213.676 90.2011 213.968 89.914 214.342 89.7051C214.716 89.4876 215.138 89.3788 215.608 89.3788C216.078 89.3788 216.491 89.4963 216.848 89.7312C217.214 89.9662 217.501 90.2751 217.71 90.658C217.919 91.0322 218.023 91.4325 218.023 91.8589V95.7095H216.848ZM212.462 95.7095V89.5093H213.637V95.7095H212.462ZM220.02 95.7095V86.9118H221.194V95.7095H220.02ZM218.492 90.5797V89.5093H222.722V90.5797H218.492ZM225.246 95.84C224.898 95.84 224.567 95.7965 224.254 95.7095C223.949 95.6138 223.666 95.4832 223.405 95.3179C223.144 95.1438 222.918 94.9393 222.727 94.7044L223.484 93.9473C223.71 94.2258 223.971 94.4346 224.267 94.5739C224.563 94.7044 224.893 94.7697 225.259 94.7697C225.624 94.7697 225.907 94.7087 226.107 94.5869C226.307 94.4564 226.407 94.278 226.407 94.0517C226.407 93.8255 226.325 93.6515 226.159 93.5296C226.003 93.3991 225.798 93.2947 225.546 93.2164C225.294 93.1293 225.024 93.0467 224.737 92.9684C224.458 92.8813 224.193 92.7726 223.94 92.642C223.688 92.5115 223.479 92.3331 223.314 92.1069C223.157 91.8806 223.079 91.5804 223.079 91.2062C223.079 90.832 223.17 90.51 223.353 90.2403C223.536 89.9618 223.788 89.7486 224.11 89.6007C224.441 89.4528 224.837 89.3788 225.298 89.3788C225.785 89.3788 226.216 89.4658 226.59 89.6399C226.973 89.8052 227.286 90.0575 227.53 90.3969L226.773 91.154C226.599 90.9277 226.381 90.7537 226.12 90.6319C225.868 90.51 225.581 90.4491 225.259 90.4491C224.919 90.4491 224.658 90.51 224.476 90.6319C224.302 90.745 224.215 90.906 224.215 91.1148C224.215 91.3237 224.293 91.4847 224.45 91.5978C224.606 91.7109 224.811 91.8066 225.063 91.885C225.324 91.9633 225.594 92.0459 225.872 92.133C226.151 92.2113 226.416 92.3201 226.669 92.4593C226.921 92.5985 227.125 92.7856 227.282 93.0206C227.447 93.2555 227.53 93.5644 227.53 93.9473C227.53 94.5304 227.321 94.9916 226.903 95.3309C226.494 95.6703 225.942 95.84 225.246 95.84Z"
              fill="black"
              fill-opacity="0.7"
            />
            <path
              d="M152.789 72.7387H179.378C183.404 72.7387 186.668 69.4747 186.668 65.4485V59.9008M152.789 72.7387H142.563C138.537 72.7387 135.273 69.4747 135.273 65.4485V41.6391C135.273 37.6129 138.537 34.3489 142.563 34.3489H179.378C183.404 34.3489 186.668 37.6129 186.668 41.6391V59.9008M152.789 72.7387L165.348 51.628C167.763 47.5685 173.342 46.8424 176.716 50.1484L186.668 59.9008"
              stroke="black"
              stroke-opacity="0.7"
              stroke-width="2.91606"
            />
            <circle
              cx="149.906"
              cy="47.7895"
              r="6.93455"
              stroke="black"
              stroke-opacity="0.7"
              stroke-width="2.91606"
            />
          </svg>
        </label>
        <input
          type="file"
          style="opacity: 0; position: absolute; z-index: -1"
          name="landDocument"
          id="landDocument"
          accept=".pdf"
        />
        <!-- land preview (shows green dot + filename) -->
        <div id="landPreview" class="filePreview" aria-hidden="true">
          <span class="fileName">No file selected</span>
        </div>
        <div
          style="display: flex; justify-content: center; align-items: center"
        >
          <button type="submit" class="submitBtn">Done</button>
        </div>
      </form>
      <svg
        class="down-bar"
        width="430"
        height="34"
        viewBox="0 0 430 34"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        id="down-bar"
      >
        <rect
          x="139"
          y="21"
          width="152"
          height="5"
          rx="2.5"
          fill="black"
          fill-opacity="0.6"
        />
      </svg>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
  <script>
    function isMobileDevice() {
      return window.innerWidth <= 800;
    }
    window.onload = () => {
      if (isMobileDevice()) {
        console.log("hello");
        const phone = document.getElementById("phone");
        phone.style.width = "100vw";
        phone.style.height = "100vh";
        phone.style.borderRadius = "0";
        document.getElementById("up-time").style.display = "none";
        document.getElementById("back").style.top = "3vh";
        document.getElementById("heading").style.marginTop = "1vh";
        document.getElementById("down-bar").style.position = "fixed";
        document.getElementById("navbar").style.position = "fixed";
      }
      const errorEl = document.getElementById("error");
      const error = errorEl ? errorEl.innerText : null;

      if (error) {
        console.log("yes");
        var notyf = new Notyf({
          position: {
            x: "center",
            y: "bottom",
          },
        });
        notyf.error(error);
      }

      // preview helpers
      function makePreview(file) {
        const wrapper = document.createElement("div");
        // green dot
        const dot = document.createElement("span");
        dot.className = "dot";
        wrapper.appendChild(dot);
        // filename
        const name = document.createElement("span");
        name.className = "fileName";
        name.textContent = file ? file.name : "No file selected";
        wrapper.appendChild(name);
        return wrapper;
      }

      function attachPreview(inputId, previewId) {
        const input = document.getElementById(inputId);
        const preview = document.getElementById(previewId);
        if (!input || !preview) return;

        function update() {
          // clear existing
          preview.innerHTML = "";
          const file = input.files && input.files[0];
          if (!file) {
            const no = document.createElement("span");
            no.className = "fileName";
            no.textContent = "No file selected";
            preview.appendChild(no);
            preview.setAttribute("aria-hidden", "true");
            return;
          }
          const node = makePreview(file);
          preview.appendChild(node);
          preview.setAttribute("aria-hidden", "false");
        }

        input.addEventListener("change", update);
        // init
        update();
      }

      attachPreview("aadharDocument", "aadharPreview");
      attachPreview("landDocument", "landPreview");
    };
  </script>
</html>
