<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Level</title>
    <style>
        .navbar {
            width: 38vh;
            height: 10vh;
            flex-shrink: 0;

            border-radius: 88px;
            background: #FFF;
            box-shadow: 0px 0px 30.8px 0px rgba(0, 0, 0, 0.25);

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            align-self: center;
            position: absolute;
            bottom: 5vh;
        }
        .navbar > svg {
            width: 3vh;
            aspect-ratio: inherit;
            cursor: pointer;
        }

        .up-time {
            width: 100%;
            position: absolute;
            top: -1vh;
            margin-left: -3.5vh;
        }

        .down-bar {
            width: 100%;
            position: absolute; 
            bottom: 0;
            margin-left: -3.5vh;
        }
        .heading {
            color: #000;
            font-family: Outfit;
            font-size: 2.3rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -2.393px;
            text-align: center;
        }
        .name {
            margin-top: 2vh;
            text-align: center;
            color: rgba(0, 0, 0, 0.60);
            font-family: Outfit;
            font-size: 0.9rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.677px;
        }
        .loyaltyContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 3vh;
        }
        .percentage {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            position: relative;
        }
        .percentage > svg {
            position: absolute;
            top: 0;
            /* left: 0; */
            height: 100%;
        }
        .percentage > h1 {
            color: #000;
            font-family: Outfit;
            font-size: 0.9rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        .image {
            width: 40vh;
            aspect-ratio: initial;
            align-items: center;
            margin: 3vh auto;
            margin-left: -1vh;
        }
        .back {
            position: absolute;
            top: 7vh;
            left: 5vh;
            z-index: 1000;
        }
    </style>
</head>
<body>
    <%- include('partials/phone.ejs') %>
    <div id="phone" class="phone">
        <svg class="up-time" width="430" height="53" viewBox="0 0 430 53" fill="none" xmlns="http://www.w3.org/2000/svg" id="up-time">
            <rect opacity="0.35" x="362.351" y="22.5546" width="26.6231" height="13.3116" rx="4.21533" stroke="black" stroke-width="1.1093"/>
            <path opacity="0.4" d="M390.527 27.1767V31.6139C391.42 31.2381 392 30.3639 392 29.3953C392 28.4267 391.42 27.5525 390.527 27.1767Z" fill="black"/>
            <rect x="364.02" y="24.2186" width="23.29" height="9.98368" rx="2.77324" fill="black"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M344.126 25.3508C346.885 25.3509 349.539 26.3548 351.538 28.155C351.689 28.294 351.929 28.2923 352.078 28.1511L353.517 26.7755C353.592 26.7039 353.634 26.6069 353.633 26.506C353.633 26.4051 353.59 26.3086 353.514 26.2378C348.266 21.4748 339.986 21.4748 334.738 26.2378C334.662 26.3085 334.619 26.405 334.618 26.5059C334.617 26.6068 334.659 26.7039 334.734 26.7755L336.174 28.1511C336.322 28.2925 336.563 28.2942 336.714 28.155C338.713 26.3547 341.367 25.3508 344.126 25.3508ZM344.124 29.9456C345.63 29.9455 347.082 30.5027 348.198 31.5088C348.349 31.6516 348.587 31.6485 348.734 31.5018L350.162 30.0654C350.237 29.9901 350.279 29.8879 350.278 29.7817C350.277 29.6755 350.233 29.5741 350.156 29.5003C346.757 26.3529 341.494 26.3529 338.095 29.5003C338.019 29.5741 337.975 29.6755 337.974 29.7818C337.973 29.888 338.015 29.9902 338.09 30.0654L339.518 31.5018C339.665 31.6485 339.903 31.6516 340.053 31.5088C341.169 30.5033 342.62 29.9462 344.124 29.9456ZM346.922 32.9871C346.924 33.1018 346.883 33.2124 346.808 33.2927L344.394 35.9653C344.323 36.0439 344.227 36.0881 344.126 36.0881C344.025 36.0881 343.929 36.0439 343.858 35.9653L341.443 33.2927C341.368 33.2123 341.327 33.1017 341.33 32.987C341.332 32.8723 341.377 32.7637 341.455 32.6868C342.997 31.2563 345.255 31.2563 346.797 32.6868C346.875 32.7638 346.92 32.8724 346.922 32.9871Z" fill="black"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M326.299 23.8026C326.299 23.1134 325.769 22.5546 325.115 22.5546H323.932C323.279 22.5546 322.749 23.1134 322.749 23.8026V34.6182C322.749 35.3075 323.279 35.8662 323.932 35.8662H325.115C325.769 35.8662 326.299 35.3075 326.299 34.6182V23.8026ZM318.053 25.2169H319.236C319.89 25.2169 320.419 25.7891 320.419 26.4949V34.5883C320.419 35.2941 319.89 35.8662 319.236 35.8662H318.053C317.399 35.8662 316.87 35.2941 316.87 34.5883V26.4949C316.87 25.7891 317.399 25.2169 318.053 25.2169ZM313.246 28.1011H312.063C311.409 28.1011 310.879 28.6805 310.879 29.3953V34.572C310.879 35.2868 311.409 35.8662 312.063 35.8662H313.246C313.899 35.8662 314.429 35.2868 314.429 34.572V29.3953C314.429 28.6805 313.899 28.1011 313.246 28.1011ZM307.367 30.7634H306.183C305.53 30.7634 305 31.3346 305 32.0391V34.5905C305 35.2951 305.53 35.8662 306.183 35.8662H307.367C308.02 35.8662 308.55 35.2951 308.55 34.5905V32.0391C308.55 31.3346 308.02 30.7634 307.367 30.7634Z" fill="black"/>
            <path d="M62.1607 36.3076C61.1529 36.3076 60.2887 36.0381 59.568 35.499C58.8473 34.96 58.2936 34.1953 57.9068 33.2051C57.5201 32.209 57.3268 31.0283 57.3268 29.6631V29.6455C57.3268 28.2803 57.5201 27.1025 57.9068 26.1123C58.2936 25.1221 58.8473 24.3574 59.568 23.8184C60.2887 23.2793 61.1529 23.0098 62.1607 23.0098C63.1686 23.0098 64.0328 23.2793 64.7535 23.8184C65.4742 24.3574 66.0279 25.1221 66.4146 26.1123C66.8072 27.1025 67.0035 28.2803 67.0035 29.6455V29.6631C67.0035 31.0283 66.8072 32.209 66.4146 33.2051C66.0279 34.1953 65.4742 34.96 64.7535 35.499C64.0328 36.0381 63.1686 36.3076 62.1607 36.3076ZM62.1607 34.4795C62.6998 34.4795 63.1598 34.2861 63.5406 33.8994C63.9215 33.5127 64.2115 32.9619 64.4107 32.2471C64.6158 31.5264 64.7184 30.665 64.7184 29.6631V29.6455C64.7184 28.6436 64.6158 27.7852 64.4107 27.0703C64.2115 26.3555 63.9215 25.8076 63.5406 25.4268C63.1598 25.04 62.6998 24.8467 62.1607 24.8467C61.6217 24.8467 61.1617 25.04 60.7809 25.4268C60.4 25.8076 60.107 26.3555 59.902 27.0703C59.7027 27.7852 59.6031 28.6436 59.6031 29.6455V29.6631C59.6031 30.665 59.7027 31.5264 59.902 32.2471C60.107 32.9619 60.4 33.5127 60.7809 33.8994C61.1617 34.2861 61.6217 34.4795 62.1607 34.4795ZM73.4969 23.001C74.1707 23.001 74.8123 23.127 75.4217 23.3789C76.0311 23.6309 76.5701 24.0176 77.0389 24.5391C77.5135 25.0605 77.8855 25.7314 78.1551 26.5518C78.4246 27.3721 78.5594 28.3535 78.5594 29.4961V29.5137C78.5594 30.9375 78.3543 32.1562 77.9441 33.1699C77.534 34.1836 76.948 34.96 76.1863 35.499C75.4246 36.0381 74.5105 36.3076 73.4441 36.3076C72.6648 36.3076 71.9617 36.167 71.3348 35.8857C70.7137 35.5986 70.198 35.2061 69.7879 34.708C69.3777 34.21 69.1053 33.6387 68.9705 32.9941L68.9529 32.8975H71.1766L71.2117 32.9766C71.323 33.2754 71.4812 33.5361 71.6863 33.7588C71.8973 33.9756 72.1492 34.1455 72.4422 34.2686C72.741 34.3916 73.075 34.4531 73.4441 34.4531C74.118 34.4531 74.6658 34.2568 75.0877 33.8643C75.5154 33.4658 75.8348 32.9355 76.0457 32.2734C76.2566 31.6055 76.3768 30.8672 76.4061 30.0586C76.4119 29.9707 76.4148 29.8857 76.4148 29.8037C76.4148 29.7158 76.4148 29.6309 76.4148 29.5488L76.0193 27.4395C76.0193 26.9531 75.908 26.5166 75.6854 26.1299C75.4627 25.7373 75.1609 25.4268 74.7801 25.1982C74.4051 24.9639 73.9832 24.8467 73.5145 24.8467C73.0516 24.8467 72.6297 24.9609 72.2488 25.1895C71.868 25.4121 71.5633 25.7139 71.3348 26.0947C71.1062 26.4756 70.992 26.9062 70.992 27.3867V27.4043C70.992 27.8906 71.1004 28.3242 71.3172 28.7051C71.534 29.0801 71.8299 29.376 72.2049 29.5928C72.5857 29.8096 73.0135 29.918 73.4881 29.918C73.9686 29.918 74.3992 29.8125 74.7801 29.6016C75.1609 29.3848 75.4627 29.0918 75.6854 28.7227C75.908 28.3535 76.0193 27.9287 76.0193 27.4482V27.4395H76.5467V29.7598H76.2479C76.0955 30.0938 75.8699 30.4072 75.5711 30.7002C75.2723 30.9873 74.9031 31.2188 74.4637 31.3945C74.0242 31.5703 73.5115 31.6582 72.9256 31.6582C72.117 31.6582 71.3992 31.4766 70.7723 31.1133C70.1512 30.75 69.6648 30.252 69.3133 29.6191C68.9617 28.9863 68.7859 28.2715 68.7859 27.4746V27.457C68.7859 26.6016 68.9852 25.8369 69.3836 25.1631C69.7879 24.4893 70.3445 23.9619 71.0535 23.5811C71.7684 23.1943 72.5828 23.001 73.4969 23.001ZM82.0293 34.2949C81.6367 34.2949 81.3057 34.1631 81.0361 33.8994C80.7725 33.6299 80.6406 33.3018 80.6406 32.915C80.6406 32.5283 80.7725 32.2031 81.0361 31.9395C81.3057 31.6699 81.6367 31.5352 82.0293 31.5352C82.4336 31.5352 82.7676 31.6699 83.0312 31.9395C83.2949 32.2031 83.4268 32.5283 83.4268 32.915C83.4268 33.3018 83.2949 33.6299 83.0312 33.8994C82.7676 34.1631 82.4336 34.2949 82.0293 34.2949ZM82.0293 27.7734C81.6367 27.7734 81.3057 27.6416 81.0361 27.3779C80.7725 27.1084 80.6406 26.7803 80.6406 26.3936C80.6406 26.0068 80.7725 25.6816 81.0361 25.418C81.3057 25.1484 81.6367 25.0137 82.0293 25.0137C82.4336 25.0137 82.7676 25.1484 83.0312 25.418C83.2949 25.6816 83.4268 26.0068 83.4268 26.3936C83.4268 26.7803 83.2949 27.1084 83.0312 27.3779C82.7676 27.6416 82.4336 27.7734 82.0293 27.7734ZM91.6867 36V33.5654H85.4816V31.7109C85.8098 31.1367 86.1437 30.5654 86.4836 29.9971C86.8234 29.4229 87.1662 28.8516 87.5119 28.2832C87.8635 27.709 88.2121 27.1436 88.5578 26.5869C88.9094 26.0244 89.258 25.4707 89.6037 24.9258C89.9553 24.3809 90.3039 23.8447 90.6496 23.3174H93.8488V31.6934H95.5627V33.5654H93.8488V36H91.6867ZM87.5822 31.7461H91.7219V25.1279H91.5988C91.3352 25.5264 91.0656 25.9365 90.7902 26.3584C90.5207 26.7803 90.2482 27.2109 89.9729 27.6504C89.6975 28.0898 89.4221 28.5322 89.1467 28.9775C88.8771 29.4229 88.6105 29.8682 88.3469 30.3135C88.0832 30.7529 87.8283 31.1895 87.5822 31.623V31.7461ZM100.351 36V25.5498H100.202L97.0463 27.7734V25.6465L100.36 23.3174H102.61V36H100.351Z" fill="black"/>
            <rect x="152.5" y="11.33" width="125" height="36.67" rx="18.335" fill="black"/>
            </svg>
            
        <svg onclick="window.history.back()"" id="back" class="back" width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.5304 1.49811L1.50391 10.5246L10.5304 19.551" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
                
        <p class="name">Mr. <%= user.fname %></p>

        <div class="loyaltyContainer">
            <h1 class="heading"><%= user.loyaltyLevel %></h1>
            <div class="percentage">
                <% if (user.loyaltyLevel == 'Bronze') { %>
                <svg xmlns="http://www.w3.org/2000/svg" width="63" height="64" viewBox="0 0 63 64" fill="none">
                    <path d="M62.6334 31.8606C62.6334 49.0663 48.6855 63.0142 31.4798 63.0142C14.2742 63.0142 0.326294 49.0663 0.326294 31.8606C0.326294 14.655 14.2742 0.707092 31.4798 0.707092C48.6855 0.707092 62.6334 14.655 62.6334 31.8606ZM9.67236 31.8606C9.67236 43.9046 19.4359 53.6681 31.4798 53.6681C43.5238 53.6681 53.2873 43.9046 53.2873 31.8606C53.2873 19.8167 43.5238 10.0532 31.4798 10.0532C19.4359 10.0532 9.67236 19.8167 9.67236 31.8606Z" fill="url(#paint0_linear_83_941)"/>
                    <defs>
                      <linearGradient id="paint0_linear_83_941" x1="62.6334" y1="0.7071" x2="0.326301" y2="63.0142" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#EF9D22"/>
                        <stop offset="1" stop-color="#C2801E"/>
                      </linearGradient>
                    </defs>
                  </svg>
                  <% } else if (user.loyaltyLevel == 'Silver') { %>
                    <svg width="64" height="63" viewBox="0 0 64 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M63.0566 31.4147C63.0566 48.6203 49.1087 62.5682 31.9031 62.5682C14.6974 62.5682 0.749512 48.6203 0.749512 31.4147C0.749512 14.209 14.6974 0.261108 31.9031 0.261108C49.1087 0.261108 63.0566 14.209 63.0566 31.4147ZM10.0956 31.4147C10.0956 43.4586 19.8591 53.2222 31.9031 53.2222C43.947 53.2222 53.7106 43.4586 53.7106 31.4147C53.7106 19.3707 43.947 9.60718 31.9031 9.60718C19.8591 9.60718 10.0956 19.3707 10.0956 31.4147Z" fill="url(#paint0_linear_167_358)"/>
                        <defs>
                        <linearGradient id="paint0_linear_167_358" x1="63.0566" y1="0.261116" x2="0.749519" y2="62.5682" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#ADADAD"/>
                        <stop offset="1" stop-color="#DDDDDD"/>
                        </linearGradient>
                        </defs>
                        </svg>
                    <% } else if (user.loyaltyLevel == 'Gold') {  %>
                        <svg width="63" height="63" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M62.6535 31.4147C62.6535 48.6203 48.7056 62.5682 31.5 62.5682C14.2944 62.5682 0.346436 48.6203 0.346436 31.4147C0.346436 14.209 14.2944 0.261108 31.5 0.261108C48.7056 0.261108 62.6535 14.209 62.6535 31.4147ZM9.6925 31.4147C9.6925 43.4586 19.456 53.2222 31.5 53.2222C43.5439 53.2222 53.3075 43.4586 53.3075 31.4147C53.3075 19.3707 43.5439 9.60718 31.5 9.60718C19.456 9.60718 9.6925 19.3707 9.6925 31.4147Z" fill="url(#paint0_linear_167_359)"/>
                            <defs>
                            <linearGradient id="paint0_linear_167_359" x1="62.6535" y1="0.261116" x2="0.346443" y2="62.5682" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FFDB20"/>
                            <stop offset="1" stop-color="#D4B566"/>
                            </linearGradient>
                            </defs>
                            </svg>                            
                    <% } else { %>
                        <svg width="63" height="63" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M62.8851 31.4147C62.8851 48.6203 48.9372 62.5682 31.7316 62.5682C14.5259 62.5682 0.578003 48.6203 0.578003 31.4147C0.578003 14.209 14.5259 0.261108 31.7316 0.261108C48.9372 0.261108 62.8851 14.209 62.8851 31.4147ZM9.92407 31.4147C9.92407 43.4586 19.6876 53.2222 31.7316 53.2222C43.7755 53.2222 53.539 43.4586 53.539 31.4147C53.539 19.3707 43.7755 9.60718 31.7316 9.60718C19.6876 9.60718 9.92407 19.3707 9.92407 31.4147Z" fill="url(#paint0_linear_167_360)"/>
                            <defs>
                            <linearGradient id="paint0_linear_167_360" x1="62.8851" y1="0.261116" x2="0.57801" y2="62.5682" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#206CFF"/>
                            <stop offset="1" stop-color="#33BBCD"/>
                            </linearGradient>
                            </defs>
                            </svg>
                    <% } %>                            
                                                    
                  <h1><%= percentage %></h1>
            </div>
        </div>

        <% if (user.loyaltyLevel == 'Bronze') { %>
            <img class="image" src="bronze.png" alt="">
        <% } else if (user.loyaltyLevel == 'Silver') { %>
            <img class="image" src="silver.png" alt="">
        <% } else if (user.loyaltyLevel == 'Gold' ) { %>
            <img class="image" src="gold.png" alt="">
        <% } else { %>
            <img class="image" src="platinum.png" alt="">
        <% } %>

        <div class="navbar">
            <svg onclick="window.location.href='/'" width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.8979 21.7754V16.4018C14.8979 15.5466 14.5582 14.7266 13.9536 14.1219C13.3489 13.5173 12.5288 13.1776 11.6737 13.1776C10.8186 13.1776 9.99852 13.5173 9.39387 14.1219C8.78921 14.7266 8.44952 15.5466 8.44952 16.4018V21.7754H3.07586C2.50578 21.7754 1.95906 21.549 1.55596 21.1459C1.15285 20.7428 0.926392 20.196 0.926392 19.626V7.94576C0.926388 7.57458 1.02251 7.20972 1.20538 6.88672C1.38826 6.56371 1.65167 6.29357 1.96996 6.1026L10.5678 0.943878C10.9019 0.743438 11.2841 0.637558 11.6737 0.637558C12.0633 0.637558 12.4456 0.743438 12.7796 0.943878L21.3775 6.1026C21.6958 6.29357 21.9592 6.56371 22.1421 6.88672C22.3249 7.20972 22.4211 7.57458 22.421 7.94576V19.626C22.421 20.196 22.1946 20.7428 21.7915 21.1459C21.3884 21.549 20.8417 21.7754 20.2716 21.7754H14.8979Z" fill="black"/>
                </svg>

            <svg onclick="window.location.href = '/job'" width="28" height="21" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M27.6671 6.66318H0.798767V4.06591C0.798767 3.03265 1.22338 2.04171 1.9792 1.31109C2.73502 0.580466 3.76013 0.170006 4.82902 0.170006L23.6368 0.170006C24.7057 0.170006 25.7308 0.580466 26.4867 1.31109C27.2425 2.04171 27.6671 3.03265 27.6671 4.06591V6.66318ZM27.6671 9.26046V17.0523C27.6671 18.0855 27.2425 19.0765 26.4867 19.8071C25.7308 20.5377 24.7057 20.9482 23.6368 20.9482H4.82902C3.76013 20.9482 2.73502 20.5377 1.9792 19.8071C1.22338 19.0765 0.798767 18.0855 0.798767 17.0523L0.798767 9.26046H9.02853C9.32736 10.375 10.0006 11.3621 10.9425 12.0667C11.8845 12.7714 13.0419 13.1537 14.2329 13.1537C15.424 13.1537 16.5813 12.7714 17.5233 12.0667C18.4653 11.3621 19.1385 10.375 19.4373 9.26046H27.6671Z" fill="black" fill-opacity="0.4"/>
                </svg>
                    

            <svg onclick="window.location.href='/events'" width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.16464 3.6366V6.05475C4.16464 6.69608 4.42885 7.31115 4.89913 7.76464C5.36942 8.21813 6.00727 8.4729 6.67235 8.4729C7.33744 8.4729 7.97528 8.21813 8.44557 7.76464C8.91586 7.31115 9.18006 6.69608 9.18006 6.05475V3.6366H16.7032V6.05475C16.7032 6.69608 16.9674 7.31115 17.4377 7.76464C17.908 8.21813 18.5458 8.4729 19.2109 8.4729C19.876 8.4729 20.5138 8.21813 20.9841 7.76464C21.4544 7.31115 21.7186 6.69608 21.7186 6.05475V3.6366C22.7162 3.6366 23.673 4.01875 24.3784 4.69899C25.0839 5.37923 25.4802 6.30182 25.4802 7.26382V9.68197H0.403076V7.26382C0.403076 6.30182 0.799383 5.37923 1.50481 4.69899C2.21024 4.01875 3.16701 3.6366 4.16464 3.6366ZM25.4802 12.1001V19.3546C25.4802 20.3166 25.0839 21.2392 24.3784 21.9194C23.673 22.5996 22.7162 22.9818 21.7186 22.9818H4.16464C3.16701 22.9818 2.21024 22.5996 1.50481 21.9194C0.799383 21.2392 0.403076 20.3166 0.403076 19.3546L0.403076 12.1001H25.4802ZM19.2109 0.00937653C19.5434 0.00937653 19.8624 0.136761 20.0975 0.363506C20.3327 0.590252 20.4648 0.897785 20.4648 1.21845V6.05475C20.4648 6.37542 20.3327 6.68295 20.0975 6.90969C19.8624 7.13644 19.5434 7.26382 19.2109 7.26382C18.8784 7.26382 18.5594 7.13644 18.3243 6.90969C18.0891 6.68295 17.957 6.37542 17.957 6.05475V1.21845C17.957 0.897785 18.0891 0.590252 18.3243 0.363506C18.5594 0.136761 18.8784 0.00937653 19.2109 0.00937653ZM6.67235 0.00937653C7.00489 0.00937653 7.32382 0.136761 7.55896 0.363506C7.7941 0.590252 7.92621 0.897785 7.92621 1.21845V6.05475C7.92621 6.37542 7.7941 6.68295 7.55896 6.90969C7.32382 7.13644 7.00489 7.26382 6.67235 7.26382C6.33981 7.26382 6.02089 7.13644 5.78574 6.90969C5.5506 6.68295 5.4185 6.37542 5.4185 6.05475V1.21845C5.4185 0.897785 5.5506 0.590252 5.78574 0.363506C6.02089 0.136761 6.33981 0.00937653 6.67235 0.00937653Z" fill="black" fill-opacity="0.4"/>
                </svg>
                    
                        

            <svg onclick="window.location.href='/profile'" width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.529297 19.0561C0.529297 15.7255 3.22931 13.0255 6.55995 13.0255H14.1924C17.523 13.0255 20.223 15.7255 20.223 19.0561V21.9159C20.223 22.6399 19.6361 23.2269 18.912 23.2269H1.84031C1.11626 23.2269 0.529297 22.6399 0.529297 21.9159V19.0561Z" fill="black" fill-opacity="0.4"/>
                <circle cx="10.376" cy="5.47015" r="5.46076" fill="black" fill-opacity="0.4"/>
                </svg>                    
                    
        </div>

        <svg class="down-bar" width="430" height="34" viewBox="0 0 430 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="139" y="21" width="152" height="5" rx="2.5" fill="black" fill-opacity="0.6"/>
            </svg>
    </div>
</body>
<script>
    function isMobileDevice() {
        return window.innerWidth <= 800;
    }

    if (isMobileDevice()) {
        console.log("hello");
        const phone = document.getElementById('phone')
        phone.style.width = '100vw'
        phone.style.height = '100vh'
        phone.style.borderRadius = '0'
        document.getElementById('up-time').style.display = 'none'
    }

    const loyalty = document.getElementById('loyalty')

    loyalty.addEventListener('click', () => {
        window.location.href = 'bhenchod'
    })

</script>

</html>