<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <style>
        .up-time {
            width: 100%;
            position: absolute;
            top: 0;
            margin-left: -3.5vh;
        }

        .down-bar {
            width: 100%;
            position: absolute; 
            bottom: 0;
            margin-left: -3.5vh;
        }
        .heading {
            font-size: 2.3rem;
            letter-spacing: -1.395px;
            margin-bottom: 1vh;
            align-self: flex-start;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2vh;
        }
        .input-container {
            width: 100%;
            background: rgba(0, 0, 0, 0.10);
            height: 6vh;
            border-radius: 100px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 3vh;

            padding-left: 3vh;
        }
        input {
            height: 80%;
            background: transparent;
            outline: none;
            border: none;
            width: 70%;
        }
        button {
            width: 100%;
            height: 6vh;
            outline: none;
            border: none;

            background: #01B764;

            color: white;
            border-radius: 100px;

            cursor: pointer;

            transition: all 300ms ease;
        }
        button:hover {
            background: rgba(0, 0, 0, 0.10);
            color: #000;
        }
        .account-p {
            color: rgba(0, 0, 0, 0.50);
            font-size: 12.443px;
            margin-top: -1.5vh;
            align-self: flex-start;
        }
        a {
            color: #006BFF;
            text-decoration: none;
            transition: all 200ms ease;
        }
        a:hover {
            color: #01B764;
        }
        .image {
            position: absolute;
            bottom: 0;
            margin-left: -3.5vh;
            width: 100%;
            border-radius: 0 0 56px 56px;
            height: 47vh;
            object-fit: cover;
            object-position: center top;
        }
    </style>
</head>
<body>
    <%- include('partials/phone.ejs') %>

    <div id="phone" class="phone">
        <svg class="up-time" width="430" height="53" viewBox="0 0 430 53" fill="none" xmlns="http://www.w3.org/2000/svg" id="up-time">
            <rect opacity="0.35" x="362.351" y="22.5546" width="26.6231" height="13.3116" rx="4.21533" stroke="black" stroke-width="1.1093"/>
            <path opacity="0.4" d="M390.527 27.1767V31.6139C391.42 31.2381 392 30.3639 392 29.3953C392 28.4267 391.42 27.5525 390.527 27.1767Z" fill="black"/>
            <rect x="364.02" y="24.2186" width="23.29" height="9.98368" rx="2.77324" fill="black"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M344.126 25.3508C346.885 25.3509 349.539 26.3548 351.538 28.155C351.689 28.294 351.929 28.2923 352.078 28.1511L353.517 26.7755C353.592 26.7039 353.634 26.6069 353.633 26.506C353.633 26.4051 353.59 26.3086 353.514 26.2378C348.266 21.4748 339.986 21.4748 334.738 26.2378C334.662 26.3085 334.619 26.405 334.618 26.5059C334.617 26.6068 334.659 26.7039 334.734 26.7755L336.174 28.1511C336.322 28.2925 336.563 28.2942 336.714 28.155C338.713 26.3547 341.367 25.3508 344.126 25.3508ZM344.124 29.9456C345.63 29.9455 347.082 30.5027 348.198 31.5088C348.349 31.6516 348.587 31.6485 348.734 31.5018L350.162 30.0654C350.237 29.9901 350.279 29.8879 350.278 29.7817C350.277 29.6755 350.233 29.5741 350.156 29.5003C346.757 26.3529 341.494 26.3529 338.095 29.5003C338.019 29.5741 337.975 29.6755 337.974 29.7818C337.973 29.888 338.015 29.9902 338.09 30.0654L339.518 31.5018C339.665 31.6485 339.903 31.6516 340.053 31.5088C341.169 30.5033 342.62 29.9462 344.124 29.9456ZM346.922 32.9871C346.924 33.1018 346.883 33.2124 346.808 33.2927L344.394 35.9653C344.323 36.0439 344.227 36.0881 344.126 36.0881C344.025 36.0881 343.929 36.0439 343.858 35.9653L341.443 33.2927C341.368 33.2123 341.327 33.1017 341.33 32.987C341.332 32.8723 341.377 32.7637 341.455 32.6868C342.997 31.2563 345.255 31.2563 346.797 32.6868C346.875 32.7638 346.92 32.8724 346.922 32.9871Z" fill="black"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M326.299 23.8026C326.299 23.1134 325.769 22.5546 325.115 22.5546H323.932C323.279 22.5546 322.749 23.1134 322.749 23.8026V34.6182C322.749 35.3075 323.279 35.8662 323.932 35.8662H325.115C325.769 35.8662 326.299 35.3075 326.299 34.6182V23.8026ZM318.053 25.2169H319.236C319.89 25.2169 320.419 25.7891 320.419 26.4949V34.5883C320.419 35.2941 319.89 35.8662 319.236 35.8662H318.053C317.399 35.8662 316.87 35.2941 316.87 34.5883V26.4949C316.87 25.7891 317.399 25.2169 318.053 25.2169ZM313.246 28.1011H312.063C311.409 28.1011 310.879 28.6805 310.879 29.3953V34.572C310.879 35.2868 311.409 35.8662 312.063 35.8662H313.246C313.899 35.8662 314.429 35.2868 314.429 34.572V29.3953C314.429 28.6805 313.899 28.1011 313.246 28.1011ZM307.367 30.7634H306.183C305.53 30.7634 305 31.3346 305 32.0391V34.5905C305 35.2951 305.53 35.8662 306.183 35.8662H307.367C308.02 35.8662 308.55 35.2951 308.55 34.5905V32.0391C308.55 31.3346 308.02 30.7634 307.367 30.7634Z" fill="black"/>
            <path d="M62.1607 36.3076C61.1529 36.3076 60.2887 36.0381 59.568 35.499C58.8473 34.96 58.2936 34.1953 57.9068 33.2051C57.5201 32.209 57.3268 31.0283 57.3268 29.6631V29.6455C57.3268 28.2803 57.5201 27.1025 57.9068 26.1123C58.2936 25.1221 58.8473 24.3574 59.568 23.8184C60.2887 23.2793 61.1529 23.0098 62.1607 23.0098C63.1686 23.0098 64.0328 23.2793 64.7535 23.8184C65.4742 24.3574 66.0279 25.1221 66.4146 26.1123C66.8072 27.1025 67.0035 28.2803 67.0035 29.6455V29.6631C67.0035 31.0283 66.8072 32.209 66.4146 33.2051C66.0279 34.1953 65.4742 34.96 64.7535 35.499C64.0328 36.0381 63.1686 36.3076 62.1607 36.3076ZM62.1607 34.4795C62.6998 34.4795 63.1598 34.2861 63.5406 33.8994C63.9215 33.5127 64.2115 32.9619 64.4107 32.2471C64.6158 31.5264 64.7184 30.665 64.7184 29.6631V29.6455C64.7184 28.6436 64.6158 27.7852 64.4107 27.0703C64.2115 26.3555 63.9215 25.8076 63.5406 25.4268C63.1598 25.04 62.6998 24.8467 62.1607 24.8467C61.6217 24.8467 61.1617 25.04 60.7809 25.4268C60.4 25.8076 60.107 26.3555 59.902 27.0703C59.7027 27.7852 59.6031 28.6436 59.6031 29.6455V29.6631C59.6031 30.665 59.7027 31.5264 59.902 32.2471C60.107 32.9619 60.4 33.5127 60.7809 33.8994C61.1617 34.2861 61.6217 34.4795 62.1607 34.4795ZM73.4969 23.001C74.1707 23.001 74.8123 23.127 75.4217 23.3789C76.0311 23.6309 76.5701 24.0176 77.0389 24.5391C77.5135 25.0605 77.8855 25.7314 78.1551 26.5518C78.4246 27.3721 78.5594 28.3535 78.5594 29.4961V29.5137C78.5594 30.9375 78.3543 32.1562 77.9441 33.1699C77.534 34.1836 76.948 34.96 76.1863 35.499C75.4246 36.0381 74.5105 36.3076 73.4441 36.3076C72.6648 36.3076 71.9617 36.167 71.3348 35.8857C70.7137 35.5986 70.198 35.2061 69.7879 34.708C69.3777 34.21 69.1053 33.6387 68.9705 32.9941L68.9529 32.8975H71.1766L71.2117 32.9766C71.323 33.2754 71.4812 33.5361 71.6863 33.7588C71.8973 33.9756 72.1492 34.1455 72.4422 34.2686C72.741 34.3916 73.075 34.4531 73.4441 34.4531C74.118 34.4531 74.6658 34.2568 75.0877 33.8643C75.5154 33.4658 75.8348 32.9355 76.0457 32.2734C76.2566 31.6055 76.3768 30.8672 76.4061 30.0586C76.4119 29.9707 76.4148 29.8857 76.4148 29.8037C76.4148 29.7158 76.4148 29.6309 76.4148 29.5488L76.0193 27.4395C76.0193 26.9531 75.908 26.5166 75.6854 26.1299C75.4627 25.7373 75.1609 25.4268 74.7801 25.1982C74.4051 24.9639 73.9832 24.8467 73.5145 24.8467C73.0516 24.8467 72.6297 24.9609 72.2488 25.1895C71.868 25.4121 71.5633 25.7139 71.3348 26.0947C71.1062 26.4756 70.992 26.9062 70.992 27.3867V27.4043C70.992 27.8906 71.1004 28.3242 71.3172 28.7051C71.534 29.0801 71.8299 29.376 72.2049 29.5928C72.5857 29.8096 73.0135 29.918 73.4881 29.918C73.9686 29.918 74.3992 29.8125 74.7801 29.6016C75.1609 29.3848 75.4627 29.0918 75.6854 28.7227C75.908 28.3535 76.0193 27.9287 76.0193 27.4482V27.4395H76.5467V29.7598H76.2479C76.0955 30.0938 75.8699 30.4072 75.5711 30.7002C75.2723 30.9873 74.9031 31.2188 74.4637 31.3945C74.0242 31.5703 73.5115 31.6582 72.9256 31.6582C72.117 31.6582 71.3992 31.4766 70.7723 31.1133C70.1512 30.75 69.6648 30.252 69.3133 29.6191C68.9617 28.9863 68.7859 28.2715 68.7859 27.4746V27.457C68.7859 26.6016 68.9852 25.8369 69.3836 25.1631C69.7879 24.4893 70.3445 23.9619 71.0535 23.5811C71.7684 23.1943 72.5828 23.001 73.4969 23.001ZM82.0293 34.2949C81.6367 34.2949 81.3057 34.1631 81.0361 33.8994C80.7725 33.6299 80.6406 33.3018 80.6406 32.915C80.6406 32.5283 80.7725 32.2031 81.0361 31.9395C81.3057 31.6699 81.6367 31.5352 82.0293 31.5352C82.4336 31.5352 82.7676 31.6699 83.0312 31.9395C83.2949 32.2031 83.4268 32.5283 83.4268 32.915C83.4268 33.3018 83.2949 33.6299 83.0312 33.8994C82.7676 34.1631 82.4336 34.2949 82.0293 34.2949ZM82.0293 27.7734C81.6367 27.7734 81.3057 27.6416 81.0361 27.3779C80.7725 27.1084 80.6406 26.7803 80.6406 26.3936C80.6406 26.0068 80.7725 25.6816 81.0361 25.418C81.3057 25.1484 81.6367 25.0137 82.0293 25.0137C82.4336 25.0137 82.7676 25.1484 83.0312 25.418C83.2949 25.6816 83.4268 26.0068 83.4268 26.3936C83.4268 26.7803 83.2949 27.1084 83.0312 27.3779C82.7676 27.6416 82.4336 27.7734 82.0293 27.7734ZM91.6867 36V33.5654H85.4816V31.7109C85.8098 31.1367 86.1437 30.5654 86.4836 29.9971C86.8234 29.4229 87.1662 28.8516 87.5119 28.2832C87.8635 27.709 88.2121 27.1436 88.5578 26.5869C88.9094 26.0244 89.258 25.4707 89.6037 24.9258C89.9553 24.3809 90.3039 23.8447 90.6496 23.3174H93.8488V31.6934H95.5627V33.5654H93.8488V36H91.6867ZM87.5822 31.7461H91.7219V25.1279H91.5988C91.3352 25.5264 91.0656 25.9365 90.7902 26.3584C90.5207 26.7803 90.2482 27.2109 89.9729 27.6504C89.6975 28.0898 89.4221 28.5322 89.1467 28.9775C88.8771 29.4229 88.6105 29.8682 88.3469 30.3135C88.0832 30.7529 87.8283 31.1895 87.5822 31.623V31.7461ZM100.351 36V25.5498H100.202L97.0463 27.7734V25.6465L100.36 23.3174H102.61V36H100.351Z" fill="black"/>
            <rect x="152.5" y="11.33" width="125" height="36.67" rx="18.335" fill="black"/>
            </svg>

        <form action="" method="POST" id="mainForm">
            <h1 class="heading">Login</h1>
            <div class="input-container">
                <svg class="mail-svg" width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.3636 0.143482L9.54809 6.21757C9.38996 6.35856 9.18551 6.43647 8.97365 6.43647C8.7618 6.43647 8.55734 6.35856 8.39922 6.21757L1.55519 0.146934C1.71858 0.0971009 1.88846 0.0717934 2.05928 0.0718391H15.8699C16.0371 0.0716876 16.2034 0.0958204 16.3636 0.143482ZM17.5341 1.33896C17.5747 1.4857 17.5962 1.63935 17.5962 1.79817V10.4298C17.5962 10.8877 17.4144 11.3268 17.0906 11.6505C16.7669 11.9743 16.3278 12.1561 15.8699 12.1561H2.05928C1.60142 12.1561 1.16233 11.9743 0.838577 11.6505C0.514827 11.3268 0.332947 10.8877 0.332947 10.4298V1.79817C0.332947 1.63848 0.354526 1.48398 0.395095 1.33724L7.25035 7.50714C7.72467 7.92986 8.33786 8.16345 8.97322 8.16345C9.60858 8.16345 10.2218 7.92986 10.6961 7.50714L17.5341 1.33896Z" fill="black" fill-opacity="0.7"/>
                    </svg>
        
                <input type="email" name="email" placeholder="Email" autocomplete="off">
            </div>
            <div class="input-container">
                <svg class="mail-svg" width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.39915 11.3242L5.16786 10.0924C5.11392 10.0384 5.04989 9.99563 4.97942 9.96644C4.90895 9.93725 4.83342 9.92223 4.75714 9.92223C4.68086 9.92223 4.60533 9.93725 4.53486 9.96644C4.46439 9.99563 4.40036 10.0384 4.34642 10.0924C4.29248 10.1463 4.2497 10.2103 4.22051 10.2808C4.19132 10.3513 4.17629 10.4268 4.17629 10.5031C4.17629 10.5793 4.19132 10.6549 4.22051 10.7254C4.2497 10.7958 4.29248 10.8599 4.34642 10.9138L5.57829 12.1445L4.1415 13.5819L1.56978 13.41C1.42952 13.4008 1.29737 13.341 1.19787 13.2417C1.09837 13.1424 1.03827 13.0104 1.02874 12.8701L0.857483 10.2973L4.86192 6.29284C4.70948 5.44125 4.83279 4.56324 5.21391 3.78659C5.59503 3.00994 6.21406 2.37519 6.98092 1.97472C7.74777 1.57425 8.62242 1.42897 9.47756 1.56002C10.3327 1.69107 11.1237 2.09161 11.7354 2.70334C12.3472 3.31508 12.7477 4.10608 12.8788 4.96122C13.0098 5.81636 12.8645 6.691 12.4641 7.45785C12.0636 8.22471 11.4288 8.84374 10.6522 9.22486C9.87553 9.60598 8.99752 9.72929 8.14594 9.57685L6.39856 11.3236L6.39915 11.3242ZM8.45129 5.98748C8.55909 6.09532 8.68707 6.18086 8.82792 6.23924C8.96878 6.29761 9.11976 6.32767 9.27223 6.3277C9.42471 6.32772 9.57569 6.29772 9.71657 6.23939C9.85745 6.18107 9.98546 6.09557 10.0933 5.98777C10.2011 5.87998 10.2867 5.75199 10.3451 5.61114C10.4034 5.47028 10.4335 5.3193 10.4335 5.16683C10.4335 5.01435 10.4035 4.86337 10.3452 4.72249C10.2869 4.58161 10.2014 4.4536 10.0936 4.34577C9.87588 4.12798 9.58058 4.0056 9.27264 4.00555C8.96471 4.0055 8.66936 4.12777 8.45158 4.34548C8.2338 4.56318 8.11142 4.85848 8.11136 5.16642C8.11131 5.47435 8.23358 5.7697 8.45129 5.98748Z" fill="black" fill-opacity="0.7"/>
                    </svg>
                    
                <input type="password" name="password" placeholder="Password" autocomplete="off">
            </div>
            <% if (messages.error) { %>
                <p id='error' style="display: none;"><%= messages.error %></p>
                <% } %>
             <button type="submit">Continue</button>
             <p class="account-p">Don't have an account? <a href="/register">Create One!</a></p>
        </form>

        <img id="image" class="image" src="login.png" alt="">

        <svg class="down-bar" width="430" height="34" viewBox="0 0 430 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="139" y="21" width="152" height="5" rx="2.5" fill="black" fill-opacity="0.6"/>
            </svg>
            
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script>
    function isMobileDevice() {
        return window.innerWidth <= 800;
    }

    if (isMobileDevice()) {
        // console.log("hello");
        const phone = document.getElementById('phone')
        const image = document.getElementById('image')
        phone.style.width = '100vw'
        phone.style.height = '100vh'
        phone.style.borderRadius = '0'
        document.getElementById('up-time').style.display = 'none'
        image.style.borderRadius = '0'
        document.getElementById('mainForm').style.marginTop = '-5vh'
    }



    const error = document.getElementById('error').innerText;

    if (error) {
        console.log('yes')
        var notyf = new Notyf({
            position: {
                x: 'center',
                y: 'bottom',
            },
        });
        notyf.error(error);
    }
</script>
</html>